<div class="cf-inner-wrap {{ programClass }}">

	<div class="program-overview">
		<img class="program-section-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/lets-get-started.svg?v=1611853788">

		<p>My name is <b>Eric McCormack</b>, but some know me as <b>Outlaw Strength</b>. From an early age, physical fitness has been an important factor in my life. Now, with over 25 years of personal training experience, I’m excited to bring you a 90-Day training program designed for all fitness levels, to build your mind and body to <b>#ConquerMore</b>. This workout is a safe and effective way to build your overall strength, flexibility and endurance.</p>

		<p>The program is going to build you up for the real test: The <b>30-Day Cam Hanes Experience</b>. I have been training with Cam for more than a decade and I want to share our training passion with you. Take this opportunity to train with a friend or loved one and let's build this fitness group to a new level together. My goal is to show the world how our team lifts each other up to enjoy this amazing blessing called <b>LIFE</b>. So let's get to work, and remember -- <b>Keep Hammering!</b></p>

		<img class="program-icons" src="https://cdn.shopify.com/s/files/1/2786/4584/files/EricMcCormickWorkoutProgram-IconsWhite.svg?v=1614550539">

	</div>

	<div class="row">
		<div class="col-xs-12">
			
			<div class="program_video_screen video-container">
				<div id="program_video"></div>
			</div>

			<ul class="program-video-controls">
				<li><a class="play-icon" href="/"><i class="far fa-play" aria-hidden="true"></i></a></li>
				<li><a class="pause-icon" href="/"><i class="far fa-pause" aria-hidden="true"></i></a></li>
				<li><a class="seek_trigger" href="/" data-seeker="160">STRETCH</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="1177">WARM UP</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="1572">CORE/HIPS</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="2283">TEST DAY</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="3093">CHEST/BACK</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="3264">BACK/SHOULDERS</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="3621">BICEPS/TRICEPS</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="3621">LEGS</a></li>
				<li><a class="seek_trigger" href="/" data-seeker="3988">HIIT</a></li>
			</ul>

			<div class="phases-wrap program-content-wrap">

				<div class="program-title-section">
					<ul class="program-section-buttons">
						<li><a class="button active" href="/" data-content="0">STRETCHING</a></li>
						<li><a class="button" href="/" data-content="1">TEST DAY</a></li>
						<li><a class="button" href="/" data-content="2">PHASE 1 (DAY 1-30)</a></li>
						{% comment %}<li><a class="button" href="/" data-phase="2">PHASE 2 (DAY 31-60)</a></li>
						<li><a class="button" href="/" data-phase="3">PHASE 3 (DAY 61-90)</a></li>{% endcomment %}
					</ul>
					
				</div>

				<div id="content0" class="content-tab active">
					
					<div class="content-intro">
						<h2>WARM UP AND STRETCH ROUTINE: 20 MINUTES</h2>
						<p><b>COMPLETE THIS ROUTINE BEFORE ALL WORKOUTS</b></p>
						<p>DIRECTIONS: Warm up for 5-10 minutes then go into the movement stretch routine. This will take about 10 minutes to complete the stretching route. Remember to ease into the stretch and control the movements. This is so important to get the body ready for the workout. Never go right into a workout without stretching.</p>
						<p>Warm Up: 10 Minutes Warm up (10 minutes) speed agility drills, jump rope or just move to warm your body up for stretching. You can use duct tape or buy an agility ladder. You are going to do each movement 10 times through the ladder. Work on being under control (remember this is a warm up) and breathe!</p>
					</div>

						<h4>Movements</h4>
						<ol>
							<li>Single step</li>
							<li>Double steps</li>
							<li>Side steps</li>
							<li>In outs</li>
							<li>Hop Scotch</li>
							<li>Criss cross</li>
						</ol>
						<h4>Movement Stretch: 10 Minutes</h4>
						<ol>
							<li>Neck rotations (5 rotations each direction and do this twice.)</li>
							<li>Shoulder rotations (5 rotations each direction and do this twice)</li>
							<li>Arm circles (5 rotation each direction and every 5 increase the range of motion</li>
							<li>Twist and reach (5 low, 5 middle and 5 high)</li>
							<li>Trunk rotation and hold (Twist and hold for 5 second do this 3 times. On the last use a wall/partner. Work on increasing the range of motion every rotation)</li>
							<li>Trunk rotations (shoulder width stance & slight bend in the knees) 5 rotations each direction, do this twice.</li>
							<li>Glute/hip/hamstring stretch (separate your feet wider than shoulder width stance and bend over at your waist. Try and place your hands on the floor. If you need assistance use a chair or a box. When you’re in the stretch slightly rock your weight forward and back for 10 seconds.</li>
							<li>Windmill stretch (Legs are still separated and you will reach across your body 10 times each side. Keep your knees slightly bent and try and increase the range of motion with every rep. Make sure this is control your speed.</li>
							<li>Reach and hold (on the last rep of the windmill hold for 5 seconds. Do this twice on each side. </li>
							<li>Groin stretch (Stay low while shifting your body side to side. Make sure this movement is controlled. You’re going to do 10 reps on each side and on the last rep you're going to hold and pulse on that leg. Do this twice on each side.</li>
							<li>Reach and hold (Your legs are still separated, bend your knees and touch the floor as far as you can between your legs. When you’re in this position slowly straighten your legs. After you do that first stretch hold for 5 seconds try and crawl your fingers a little farther and hold for another 5 seconds.</li>
							<li>Isolated hamstring stretch Cross your legs and square up your hips and bend over at the waist and try touching the floor. If you have problem balancing use a chair or box for support. Do this stretch twice on each leg.</li>
							<li>Quad stretch (Stand tall and grab your foot and try to get your heel to touch your glutes. Hold this position for 5 seconds then bend over at waist let your knee go behind you. Then hold this for 5 seconds. Do this twice on each leg.</li>
							<li>Calf stretch (push into a wall with one foot behind. Try and drive your heel into the floor. Once you feel the stretch shift your body weight left and right. Do this stretch twice on each leg.</li>
						</ol>
				</div>

				<div id="content1" class="content-tab">
					
					<div class="content-intro">
						<h2>Test Day</h2>
						<p>Every 30 days (day 1, 30, 60 90) you will repeat this physical test to track your progress and improvements during this program. <b>WE TRAIN FOR PERFORMANCE!! KEEP HAMMERING!</b></p>
					</div>
				
					<h4>TEST TIME</h4>

					<ol>
						<li><b>Push-ups in 2 minutes:</b> The Pushups need to be full range of motion and don’t touch your knees during the test. If you touch your knee stop the test. You can do a teepee movement to rest during the 2 minutes. Don’t worry you will get another chance in 30 days.</li>
						<li><b>Bodyweight pulls in 2 minutes (pull):</b> Find a bar about waist level. Lay on your back under the bar and grab the bar with a shoulder width grip. Hold on and lift your hips off the ground and start pulling your body up towards the bar. If you can touch your chest to the bar and let your arms straighten all the way. During the 2 minutes you need to rest just sit on the ground and rest but the clock doesn’t stop!!! This is one of the hardest movements it will really test you.</li>
						<li><b>Seated Shoulder press for 2 minutes (barbell or dumbbells):</b> Use a comfortable weight that you can handle and adjust your elbows if need to work around shoulder injuries. Move the weight controlled and work on being smooth. The shoulders are small muscle and they will shut down quickly.</li> 
						<li><b>Squats or Jump Squats in 2 minutes (legs):</b> Beginners just work on your squats don’t worry about the jumps. Work on bending your knees to a 90 degree bend and try to save your knees. More advanced work on a good squat and when you land work on a soft landing and spring into the next jump.</li>
						<li>P<b>lank for time or Sit ups for 2 minutes (core):</b> Here’s your core test!!! Get into the plank position and start the clock. When you touch your knee the clock will stop. Sit ups: Have your friend hold your feet down and have them come up and touch their shoulders.</li>
						<li><b>Run-walk for time/distance (30 minutes):</b> Record your distance traveled during the 30 minutes. You can choose whatever route you want. (Mountains, uphill or just flat.) We want to remember the route you take so we can hammer again on your next test.</li>
					</ol>

					<p><b>TEST COMPLETE</b> - DON’T FORGET TO RECORD YOUR RESULTS</p>

				</div>

				<div id="content2" class="content-tab">
					<div class="content-intro">
						<h2>Phase 1</h2>
					</div>

					<div class="phase-list-wrap">
						<span>Day 1-10</span>
						<ul>
							<li>DAY 1: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 2: RECOVER/ STRETCH/HIIT CARDIO 10-15 minutes/45-50 low intensity</li>
							<li>DAY 3: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 4: RECOVER/ STRETCH/HIIT CARDIO 10-15 minutes/45-50 low intensity</li>
							<li>DAY 5: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 6: RECOVER/ STRETCH/HIIT CARDIO 45 – 60MINUTES low intensity</li>
							<li>DAY 7: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 8: RECOVER/ STRETCH/HIIT CARDIO 10-15 minutes/45-50 low intensity</li>
							<li>DAY 9: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 10: RECOVER/ STRETCH/HIIT CARDIO 10-15 minutes/45-50 low intensity</li>
						</ul>
					</div>
					<div class="phase-list-wrap">
						<span>Day 11-20</span>
						<ul>
							<li>DAY 11: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 12: Bodyweight (Workout #2) 30 minutes of fat burning cardio</li>
							<li>DAY 13: RECOVER/ STRETCH/HIIT CARDIO 10-15 minutes/45-50 low intensity</li>
							<li>DAY 14: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 15: Bodyweight (Workout #2) 30 minutes of fat burning cardio</li>
							<li>DAY 16: RECOVER/ STRETCH/HIIT CARDIO 45 – 60MINUTES low intensity</li>
							<li>DAY 17: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 18: Bodyweight (Workout #2) 30 minutes of fat burning cardio</li>
							<li>DAY 19: RECOVER/ STRETCH/HIIT CARDIO 10-15 minutes/45-50 low intensity</li>
							<li>DAY 20: RECOVER/ STRETCH/HIIT CARDIO 45 – 60MINUTES low intensity</li>
						</ul>
					</div>
					<div class="phase-list-wrap">
						<span>Day 21-30</span>
						<ul>
							<li>DAY 21: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 22: Bodyweight (Workout #2) 30 minutes of fat burning cardio</li>
							<li>DAY 23: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY 24: RECOVER/ STRETCH/HIIT CARDIO 15 min – 30MINUTES low intensity</li>
							<li>DAY 25: RECOVER/ STRETCH/HIIT CARDIO 15 min – 30MINUTES low intensity</li>
							<li>DAY 26: Bodyweight (Workout #2) 30 minutes of fat burning cardio</li>
							<li>DAY27: Bodyweight (Workout #1) 30 minutes of fat burning cardio</li>
							<li>DAY28: Bodyweight (Workout #2) 30 minutes of fat burning cardio</li>
							<li>DAY29: RECOVER/ STRETCH/HIIT CARDIO 15 min – 30 MINUTES low intensity</li>
							<li>DAY30: RECOVER/ STRETCH/HIIT CARDIO 15min – 30MINUTES low intensity</li>
						</ul>
					</div>


				</div>

				{% comment %}<div id="content3" class="content-tab">
					
					<div class="content-intro">
						<h2>Phase 2</h2>
					</div>

					<div class="phase-list-wrap">
						<span>Day 31-60</span>
						<ul>
							<li>DAY 1: Pressing Movements (chest, shoulders, triceps)</li>
							<li>DAY 2: Pulling Movements (back, traps, biceps)</li>
							<li>DAY 3: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 4: LEGS (quads, hamstrings, calves)</li>
							<li>DAY 5: UPPER BODY CIRCUIT</li>
							<li>DAY 6: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 6: STRETCH/BODYWEIGHT WORKOUT/CARDIO</li>
							<li>DAY 7: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 8: Pressing Movements (chest, shoulders, triceps)</li>
							<li>DAY 9: Pulling Movements (back, traps, biceps)</li>
							<li>DAY 10: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 11: LEGS (quads, hamstrings, calves)</li>
							<li>DAY 12: UPPER BODY CIRCUIT J</li>
							<li>DAY 13: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 14: STRETCH/BODYWEIGHT WORKOUT/CARDIO</li>
							<li>DAY 15: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 16: Pressing Movements (chest, shoulders, triceps)</li>
							<li>DAY 17: Pulling Movements (back, traps, biceps)</li>
							<li>DAY 18: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 19: LEGS (quads, hamstrings, calves)</li>
							<li>DAY 20: UPPER BODY CIRCUIT</li>
							<li>DAY 21: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 22: STRETCH/BODYWEIGHT WORKOUT/CARDIO</li>
							<li>DAY 23: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 24: Pressing Movements (chest, shoulders, triceps)</li>
							<li>DAY 25: Pulling Movements (back, traps, biceps)</li>
							<li>DAY 26: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 27: LEGS (quads, hamstrings, calves)</li>
							<li>DAY 28: UPPER BODY CIRCUIT</li>
							<li>DAY 29: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 30: TEST</li>
						</ul>

						<div>
							CARDIO LOW INTENSITY(Fat burning zone) 4 to 6 HOURS A WEEK
							Watch your calorie burn!! A safe and great goal for a weekly burn is 5000 for males and 4000 for
							women. 1 pound of body fat is 3500 calories burned.
							REMINDER: Record your weights and attempt to increase your weight every week. You must
							make sure that you give it your all on every set and your workout needs to be done within 1 hour.
							Make sure that you always use good form and speed. 
						</div>
					</div>

				</div>

				<div id="content4" class="phase-tab content-tab">
					<div class="content-intro">
						<h2>Phase 3</h2>
					</div>
					<div class="phase-list-wrap">
						<span>Day 61-90</span>
						<ul>
							<li>DAY 1: Pressing Movements and Legs (chest, shoulders, triceps quads calves)</li>
							<li>DAY 2: Pulling Movements and Legs (back, traps, biceps quads calves)</li>
							<li>DAY 3: Press/Pull and HIIT Cardio</li>
							<li>DAY 4: Bodyweight Workout</li>
							<li>DAY 5: STRETCH/CARDIO</li>
							<li>DAY 6: Press/Pull and HIIT cardio</li>
							<li>DAY 7: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 8: Pressing Movements and Legs (chest, shoulders, triceps quads, calves)</li>
							<li>DAY 9: Pulling Movements and Legs (back, traps, biceps quads, calves)</li>
							<li>DAY 10: Press/Pull and HIIT Cardio</li>
							<li>DAY 11: Bodyweight Workout</li>
							<li>DAY 12: STRETCH/CARDIO</li>
							<li>DAY 13: Press/Pull and HIIT cardio</li>
							<li>DAY 14: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 15: Pressing Movements and Legs (chest, shoulders, triceps quads calves)</li>
							<li>DAY 16: Pulling Movements and Legs (back, traps, biceps quads calves)</li>
							<li>DAY 17: Press/Pull and HIIT Cardio</li>
							<li>DAY 18: Bodyweight Workout</li>
							<li>DAY 19: STRETCH/CARDIO</li>
							<li>DAY 20: Press/Pull and HIIT cardio</li>
							<li>DAY 21: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 22: Pressing Movements and Legs movements (chest, shoulders, triceps quads calves)</li>
							<li>DAY 23: Pulling Movements and Legs (back, traps, biceps quads calves)</li>
							<li>DAY 24: Press/Pull and HIIT Cardio</li>
							<li>DAY 25: Bodyweight Workout</li>
							<li>DAY 26: STRETCH/CARDIO</li>
							<li>DAY 27: Press/Pull and HIIT cardio</li>
							<li>DAY 28: RECOVER/ STRETCH/CARDIO</li>
							<li>DAY 29: Bodyweight Workout</li>
							<li>DAY 30: TEST</li>
						</ul>

						<div>
							CARDIO LOW INTENSITY(Fat burning zone) 4 to 6 HOURS A WEEK
							Watch your calorie burn!! A safe and great goal for a weekly burn is 5000 for males and 4000 for women. 1 pound of body fat is 3500 calories burned. 
						</div>
					</div>

				</div>{% endcomment %}
			</div>

			<div class="workouts-wrap program-content-wrap">

				<div class="program-title-section">
					<h2>WORKOUTS</h2>
					<p>REFERENCE THE FOLLOWING WORKOUTS WHEN WORKING THROUGH EACH PHASE OF THE PROGRAM.</p>
					<ul class="workout-buttons">
						<li><a class="button active" href="/" data-workout="1">WORKOUT #1</a></li>
						<li><a class="button" href="/" data-workout="2">WORKOUT #2</a></li>
					</ul>

				</div>

				<div id="workout1" class="workout-content-tab active">

					<div class="workout">
						<div class="workout-intro">
							<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES, CORE/HIPS CIRCUIT WORKOUT: 10 MINUTES</h3>
							<div class="workout-meta">
								2 ROUNDS
								10 REPS/SECONDS PER MOVEMENT
								Once you have completed the core movements transition right into the hip movements. When you have completed the hip circuit go right back into the core circuit and hip movements for the second round. THE CORE is the MOST important area to work!
							</div>
						</div>
						<div class="workout-section">
							<h4>CORE</h4>
							<ol>
								<li>Crunches</li>
								<li>Crunches while legs extended off the ground</li>
								<li>Bicycles</li>
								<li>Reverse Bicycles</li>
								<li>High Low with a crunch. Do both legs.</li>
								<li>Scissors</li>
								<li>Balance on butt</li>
								<li>Star fish</li>
								<li>Leg extension with crunch.</li>
								<li>Leg extension and slowly let your feet fall to the floor.</li>
							</ol>
						</div>
						<div class="workout-section">
							<h4>HIP</h4>
							<ol>
								<li>Shoulder width hip thrust</li>
								<li>Close width hip thrust</li>
								<li>One leg hip thrust to sky into leg pumps. Do each leg then hold on the last rep for 10 Sec.</li>
							</ol>
						</div>
						<div class="workout-section">
							<h4>CORE</h4>
							<ol>
								<li>Crunches</li>
								<li>Crunches into leg kicks. Do each leg for 10 reps</li>
								<li>Stack feet and scoop. Last rep go into Water Skier</li>
								<li>Water skier. Hold position for 10 seconds then change stack and go back into scooping with other lead foot for 10 reps. Then hold water skier again</li>
								<li>Bicycles</li>
								<li>Scissors</li>
								<li>Star fish with a 10 second hold at the end</li>
							</ol>
						</div>
						<div class="workout-section">
							<h4>HIP</h4>
							<ol>
								<li>Shoulder width hip thrust</li>
								<li>Close width hip thrust</li>
								<li>One leg hip thrust with other leg extended over the ground into Vegas kicks. Do each leg then hold on the last rep for 10 seconds</li>
							</ol>
							<b>*ONCE FINISHED THE CORE/HIP WORKOUT MOVE ONTO THE 10 MINUTE WORKOUT</b>
						</div>
						<div class="workout-section">
							
							<h4>10 MINUTE WORKOUT</h4>
							For advanced athletes you double the time for each movement!!!
							<ol>
								<li><b>Pushups</b> (1 minute) Start on your toes and when you can’t maintain proper form go to your knees and continue until you fail. If you fail while on your knees stop the clock and give yourself 10 seconds rest. Then start that clock and get back to it!!!!</li>
								<li><b>Bodyweight pulls/Rows with bands</b> (1 minute ) shoulder width grip for 1 minute (controlled and full motion) Rows with bands pull with your elbows away from your body.</li>
								<li><b>Shoulder press bands</b> (1 minute ) Pressing the resistance over your head with a controlled speed for 1 minute or until you fail. If you are dealing with a shoulder injury adjust your elbow position.</li>
								<li><b>Upright Row</b> (1 minute) stand on the band and adjust your stance for increased resistance. Slowly pull the band up to your shoulder while lifting your elbows high. Then slowly lower back down.</li>
								<li><b>Tricep extension into bicep curl with bands</b> (1 minute each movement): Do triceps extension for 1 minute then change to bicep curls for 1 minute</li>
								<li><b>Body weight squats</b> (2 minutes): Stand shoulder width stance and work on a slow controlled squat. Use a chair for assistance or hands on your knees if you have a problem getting a good stretch at the bottom of the squat.</li>
								<li><b>Body weight lunges</b> (30 seconds per leg): Stand with a comfortable shoulder width lunge and focus on both legs working together on the lunge. Do a stationary slow lunge for 30 seconds on each leg. Control the descent and don’t hit your knee on the ground. Use a chair for assistance.</li>
								<li><b>Calf raises</b> (1 minute) Stand with a shoulder width stance and slowly lift up onto your toes. You can use a step or something to stand on to get a better stretch of the calf if not just stand and work the calf raises on the ground and work on your balance.</li>
							</ol>
							<h4>HIIT CARDIO: 10 MINUTES (LAST PUSH)</h4>
							<ol>
								<li><b>30 seconds of high end cardio</b> (running, biking, whatever you can do to get your heart in cardio or peak zone) 75% to 95% or your max heart rate</li>
								<li><b>30 seconds of low end cardio</b> (walking)</li>
								<li>COMPLETE <b>5</b> TIMES!</li>
							</ol>
						</div>
					</div>

				</div>

				<div id="workout2" class="workout-content-tab">

					<div class="workout">
						<div class="workout-intro">
							<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES, CORE/HIPS CIRCUIT WORKOUT: 10 MINUTES (2 ROUNDS, 15-20 SECONDS PER MOVEMENT, FEEL THE BURN)</h3>
							<div class="workout-meta">
								Once you have completed the core movements, transition right into the hip movements. When you have completed the hip circuit go right back into the core circuit and hip movements for the second round. <b>THE CORE is the MOST important area to work!</b>
							</div>
						</div>
						<div class="workout-section">

							<h4>CORE</h4>
							<ol>
								<li>Crunches</li>
								<li>Bicycles</li>
								<li>Reverse Bicycles</li>
								<li>Scissors Kicks</li>
								<li>Balance on butt and open and close your legs</li>
								<li>Onto back and push feet to sky little sway as possible</li>
							</ol>
						</div>
						<div class="workout-section">
						<h4>CORE BALL</h4>
						<ol>
							<li><b>Ball transition from feet to hands 20 reps</b>. On your last rep balance on your butt while holding the ball in the feet. Don’t let the ball touch the ground if you can twist the ball like a steering wheel. Do these for 10 seconds or until you fail.</li>
							<li><b>Plank on the Core ball with legs straight</b>. Hold this position for 10 seconds then bend your knees (don’t let your knees touch the ground) hold this position for 10 seconds.</li>
							<li><b>Next movement straighten your legs while still holding the plank again and start moving your hands and elbows left and right</b>. Do this for 10 seconds then bend your knees and continue this movement for another 10 seconds.</li>
							<li>Last movement for this series: Straighten your legs and push the core ball away from you while tightening your core. This is the hardest movement, really try and keep your core tight. Do this for 10 seconds then bend your legs again without touching the ground and push away again for 10 more seconds. On the last rep push the ball away and hold for 10 seconds or until body failure.</li>
						</ol>

						<h4>HIPS/HAMSTRINGS WITH CORE BALL</h4>
						<ol>
							<li>Shoulder width hip thrust on core ball 20 reps. Have arms on the ground for stability if you want to make this harder, lift your arms up to the sky while doing this movement.</li>
							<li>With both feet on the core ball put 80% pressure on the weak leg and do 10 reps with one leg hip thrust then 10 reps on the other leg.</li>
							<li>Last movement, lift your hips up and balance on the ball when in this position push your feet away and then pull them back. Do this for 10 reps.</li>
						</ol>

						<b>REPEAT THE CORE AND HIP/HAMSTRING ONE MORE TIME!</b>

						<h4>10 MINUTE WORKOUT - *For advanced athletes, double the reps!</h4>
						
						<ol>
							<li>PUSHUPS /SUPERMANS (super set)

								<b>Set 1:</b>
								<ul>
									<li>25 total pushups (toes first then go to the knees if needed but try not to stop) 15 shoulder width and 10 close.</li>
									<li>Superman Hold this position for 10 seconds-pulse up and down for 10seconds-right side and left side 10 seconds each side-snow angles 10 seconds into skydiver for 10 seconds and the last move will be praying/diving for the last 10 seconds.</li>
								</ul>
								<b>Set 2:</b>
								<ul>
									<li>30 total pushups (toes first then go to the knees if needed but try not to stop) 10 wider than shoulder width, 10 shoulder width and 10 close (advanced double the reps)</li>
									<li>Superman (add weight 1-5 pounds) Hold this position for 10 seconds-pulse up and down for 10 seconds-right side and left side 10 seconds each side-snow angles 10 seconds into skydiver for 10 seconds and the last move will be praying/diving for the last 10 seconds</li>
								</ul>
							</li>
							<li>BACK/SHOULDERS: (super set)
								<b>Set 1:</b>
								<ul>
									<li>Back 30 band rows/body weight pulls or body lifts. 10 reps with the elbows away from the body 10 reps with the elbows at 45 degrees from the body and 10 with the elbows next to the body</li>
									<li>Shoulder: 10 front raises with bands or dumbells 10 side lateral raises into 10 rear raises</li>
								</ul>
								<b>Set 2:</b>
								<ul>
									<li>Back: Band rowing circles 15 over the top and 15 rolling low</li>
									<li>Shoulder: 5 front circles each direction 5 side circles each direction and 5 rear shoulder circles each direction.</li>
								</ul>
							</li>
							<li>ARM BICEPS AND TRICEPS (super set) band movements
								<b>Set 1:</b>
								<ul>
									<li>Biceps 30 band curls 10 outside the body 10 shoulder width and 10 into the body</li>
									<li>Triceps: 30 triceps extensions 10 away from the body 10 shoulder width and 10 into the body</li>
								</ul>
								<b>Set 2 :</b>
								<ul>
									<li>Biceps 15 biceps circles each direction outside to inside first then inside to outside</li>
									<li>Triceps: 15 triceps circles each direction outside to inside first then inside to outside</li>
								</ul>
							</li>
							<li>LEGS AND CALVES (giant set)
								<b>Set 1:</b>
								<ul>
									<li>Body weight squats 30 reps: Stand shoulder width stance and work on slow controlled squats. Use a chair for assistance or hands on your knees if you have a problem getting a good stretch at the bottom of the squat. 10 with a shoulder width stance into 10 with a wide stance and focus on keeping your knees open over your feet. Finish it out with 10 reps with a close stance.
									<b>Rest 10 seconds then do 20 jump squats. Focus on a smooth takeoff and landing. Use a chair or hands on your knees. Try and be smooth and rep them out!!</b>
									</li>
									<li>Body weight lunges: Do 10 slow and controlled reps on each leg work on getting a good stretch of both legs. Don’t bang your knee against and ground and use a chair or hand on your front knee if you need to.</li>
									<li>Calf raises (1 minute) Stand with a shoulder width stance and slowly lift up onto your toes. You can use a step or something to stand on to get a better stretch of the calf if not just stand and work the calf raises on the ground and work on your balance.</li>
								</ul>
								<b>Set 2:</b>
								<ul>
									<li>Body weight squats 30 reps: Stand shoulder width stance and work on slow controlled squats. Use a chair for assistance or hands on your knees if you have a problem getting a good stretch at the bottom of the squat. 10 with a shoulder width stance into 10 with a wide stance and focus on keeping your knees open over your feet. Finish out the set with10 reps with a close stance.
									<b>Rest 10 seconds then do 20 jump squats. Focus on a smooth takeoff and landing. Use a chair or hands on your knees. Try and be smooth and rep them out!</b>
									</li>
									<li>Body weight lunges 100 reps!!! Do a 100 stepping lunges. Work on being smooth and step through the lunges without stopping in the middle. Work on balance and if you need to have your hand on your leg while doing the lunges totally fine.</li>
									<li>Calf raises (bodyweight) 100 reps! Find something to stand on so you can get a good stretch through the movement. Work on being smooth and powering through the 100 reps. It’s going to burn so get ready. If you have to stop, take 10 seconds rest and get back to hammering those calves.</li>
								</ul>
							</li>
							<li>
								<b>10 MINUTES FOR HIIT Cardio (LAST PUSH)</b>
								<ol>
									<li>30 seconds of high end cardio (running, biking, whatever you can do to get your heart in cardio or peak zone) 75% to 95% or your max heart rate</li>
									<li>30 seconds of low end cardio (walking)</li>
									<li>COMPLETE 5 TIMES!</li>
								</ol>
							</li>
						</ol>

					</div>
				</div>

					{% comment %}<li>
						<span>DAY 1: PRESSING</span>
						<div class="workout">
							<div class="workout-intro">
								<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES</h3>
							</div>
							<div class="workout-section">
								<ul>
									<li>
										<h4>CHEST</h4>
										<ol>
											<li>
												<b>Flat press</b> - 1 warm up set of 25 reps (2 Working Sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
										 			<li>REST 1 MINUTE</li>
										 			<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
										 		</ul>
									 		</li>
									 		<li>
									 			<b>Flat flys</b> - NO warm up set straight into the working sets (2 working sets)
										 		<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
											 		<li>REST 1 MINUTE</li>
											 		<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
											 	</ul>
										 	</li>
										</ol>
									</li>
									<li>
										<h4>SHOULDERS</h4>
										<ol>
											<li>
												<b>Military press</b> - NO warm up set straight into the working sets.
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
													<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>
											</li>
										</ol>
									</li>
									<li>
										<h4>TRICEPS</h4>
										<ol>
											<li>
												<b>Close grip bench - NO warm up set straight into the working sets (2 working sets)</b>
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
												 	<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>		
											</li>
										</ol>
									</li>
									<li>
										<h4>ABS: 2-3 Sets</h4>
										<ol>
											<li>Weighted crunches 25 reps</li>
											<li>Weighted V ups 25 reps</li>
											<li>Bicycles 50 reps</li>
										</ol>
									</li>
								</ul>
							</div>
						</div>
					</li>{% endcomment %}

					{% comment %}<li>
						<span>DAY 2: PULLING</span>

						<div class="workout">
							<div class="workout-intro">
								<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES</h3>
							</div>
							<div class="workout-section">
								<ul>
									<li>
										<h4>BACK</h4>
										<ol>
											<li>
												<b>Pull downs</b> - 1 warm up set of 20 reps (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
										 			<li>REST 1 MINUTE</li>
										 			<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
										 		</ul>
									 		</li>
									 		<li>
									 			<b>Rows</b> - NO warm up set straight into the working sets (2 working sets)
										 		<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
											 		<li>REST 1 MINUTE</li>
											 		<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
											 	</ul>
										 	</li>

										</ol>
									</li>
									<li>
										<h4>TRAPS</h4>
										<ol>
											<li>
												<b>Upright Row</b> - NO warm up set straight into the working sets (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
													<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>
											</li>
										</ol>
									</li>
									<li>
										<h4>BICEPS</h4>
										<ol>
											<li>
												<b>Barbell Curls</b> - NO warm up set straight into the working sets (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
												 	<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>		
											</li>
										</ol>
									</li>
									<li>
										<h4>ABS - 2 SETS @ 15 seconds each movement and count really slow</h4>
										<ol>
											<li>Crunches</li>
											<li>Crunches with feet up bicycles</li>
											<li>Reverse Bicycles</li>
											<li>One leg high/One leg low with a crunch</li>
											<li>Scissors Kicks</li>
											<li>Balance on Butt while doing Scissors</li>
											<li>Star Fish</li>
											<li>Superman </li>
										</ol>
									</li>
								</ul>
							</div>
						</div>

					</li>{% endcomment %}

					{% comment %}<li>
						<span>DAY 3: LEGS</span>

						<div class="workout">
							<div class="workout-intro">
								<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES</h3>
							</div>
							<div class="workout-section">
								<ul>
									<li>
										<h4>MAJOR MOVEMENTS</h4>
										<ol>
											<li>
												<b>Squats</b> - 1 warm up set 25 reps (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
										 			<li>REST 1 MINUTE</li>
										 			<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
										 		</ul>
									 		</li>
									 		<li>
									 			<b>Leg Press</b> - NO warm up sets (Feet up high to focus more on the glutes) - 2 working sets
										 		<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
											 		<li>REST 1 MINUTE</li>
											 		<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
											 	</ul>
										 	</li>

										</ol>
									</li>
									<li>
										<h4>ISOLATING MOVEMENTS - QUADS</h4>
										<ol>
											<li>
												<b>Leg Extensions</b> - NO warm up set straight into the working sets (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
													<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>
											</li>
										</ol>
									</li>
									<li>
										<h4>HAMSTRINGS</h4>
										<ol>
											<li>
												<b>Leg Curls</b> - NO warm up set straight into the working sets (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
												 	<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>		
											</li>
										</ol>
									</li>
									<li>
										<h4>CALVES</h4>
										<ol>
											<li>
												<b>Standing Raises</b> - 1 warm up sets 25 reps (2 working sets)
												<ul>
													<li>Set 1 - 20-25 reps rest for 10 sec and do same weight 15-20 reps rest for 10 sec and do same weight 10-12 reps</li>
												 	<li>REST 1 MINUTE</li>
												 	<li>Set 2 - use the same weight and attempt to achieve the same reps as the 1st set</li>
												</ul>		
											</li>
										</ol>
									</li>
									<li>
										<h4>ABS/CORE - Do each movement for 15 seconds!!</h4>
										<ol>
											<li>Crunches</li>
											<li>Bicycles</li>
											<li>Reverse Bicycles</li>
											<li>Scissors Kicks</li>
											<li>Balance on Butt and open and close your legs</li>
											<li>Onto back and push feet to sky little sway as possible</li>
										</ol>
									</li>
									<li>
										<h4>CORE BALL</h4>
										<ol>
											<li>Ball transition from feet to hands 20 reps. On your last rep balance on your butt while holding the ball in the feet. Don’t let the ball touch the ground if you can twist the ball like a steering wheel. Do these for 10 seconds or until you fail.</li>
											<li>Plank on the Core ball with legs straight . Hold this position for 10 seconds then bend your knees (don’t let your knees touch the ground) hold this position for 10 seconds.</li>
											<li>Next movement straighten your legs while still holding the plank again and start moving your hands and elbows left and right. Do this for 10 seconds then bend your knees and continue this movement for another 10 seconds.</li>
											<li>Last movement for this series: Straighten your legs and push the core ball away from you while tightening your core. This is the hardest movement, really try and keep your core tight. Do this for 10 seconds then bend your legs again without touching the ground and push away again for 10 more seconds. On the last rep push the ball away and hold for 10 seconds or until body failure.</li>
										</ol>
									</li>
								</ul>
							</div>
						</div>

					</li>{% endcomment %}
					{% comment %}<li>
						<span>DAY 4: UPPER BODY CIRCUIT</span>

						<div class="workout">
							<div class="workout-intro">
								<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES</h3>
							</div>
							<div class="workout-section">
								<ul>
									<li>
										<h4>CHEST - Super set all three exercises - 1 warm up set Flat Press for 20 reps</h4>

										<ol>
											<li>Flat Press - 25-30 reps</li>
											<li>Flat Flys- 20-25 reps</li>
											<li>Pushups to FAILURE</li>
								 		</ol>
								 		Rest 1 minute and repeat
									</li>
									<li>
										<h4>BACK: Super set all three exercises- 1 warm up set Pull Downs for 20 reps (2 working sets)</h4>
										<ol>
											<li>Pull Downs- 25-30 reps</li>
											<li>Rows- 25-30 reps</li>
											<li>Reverse Sit-ups- 25-30 reps</li>
								 		</ol>
								 		Rest 1 minute and repeat
									</li>
									<li>
										<h4>SHOULDERS: NO warm up- Super set all three exercises (2 working sets)</h4>
										<ol>
											<li>Front Raises- 12-15 reps</li>
											<li>Side Lateral Raises- 12-15 reps</li>
											<li>Rear Raises- 12-15 reps</li>
								 		</ol>
								 		Rest 1 minute and repeat
									</li>
									<li>
										<h4>BICEPS: NO warm up- Super set all three exercises (2 working sets)</h4>
										<ol>
											<li>Barbell Curls- 25-30 reps</li>
											<li>Preacher Curls- 25-30 reps</li>
								 		</ol>
								 		Rest 1 minute and repeat
									</li>
									<li>
										<h4>TRICEPS: No warm up Super set both exercises then rest (2 working sets)</h4>
										<ol>
											<li>Dips- 25-30 reps</li>
											<li>Triceps Press Down- 25-30 reps</li>
								 		</ol>
								 		Rest 1 minute and repeat
									</li>
									<li>
										<h4>ABS</h4>
										<div class="">
											Plank on a yoga ball and do these movements for 10 seconds each. Make sure to keep your core tight
							at all times and at any point you need to stop, go to your knees. COMPLETE 2X!
										</div>
										<p><b>Movements:</b> Hold a plank with feet shoulder width (Balanced) move your elbows in the following directions:</p>
										<ol>
											<li>Left and Right</li>
											<li>Forward and Back</li>
											<li>Circle each direction</li>
											<li>Mountain climbers with a solid hold at the end. If you really want to feel a burn push the ball away while holding.</li>
								 		</ol>
									</li>
								</ul>
							</div>
						</div>

					</li>{% endcomment %}
					{% comment %}<li>
						<span>DAY 5: BODYWEIGHT CIRCUIT</span>
						<div class="workout">
							<div class="workout-intro">
								<h3>WARM UP: 10 MINUTES, STRETCH: 10 MINUTES</h3>
							</div>
							<div class="workout-section">
								<ul>
									<li>
										<h4>CHEST: Super set all five exercises. Start on your feet and go to your knees AS NEEDED</h4>

										<ol>
											<li>Pushups (Shoulder Width) for 20 reps</li>
											<li>Pushups (10 reps close and 10 reps wide)</li>
											<li>Pushups (staggered 10 reps on each sid e)</li>
											<li>Pushups (halfway down 10 reps halfway ups 10 reps)</li>
											<li>Pushups (shoulder width 20 reps) finish with 100 reps total</li>
								 		</ol>
								 		Rest 1 minute
									</li>
									<li>
										<h4>BACK: Super set all three exercises</h4>
										<ol>
											<li>Pull ups or Pulldowns (assisted if needed) wide grip for 20 reps</li>
											<li>Body Weight Pulls (Close Reverse Grip) 20 reps</li>
											<li>Supermans Hold for 20 seconds then pulse up down for 20 reps</li>
								 		</ol>
								 		Rest 1 minute
									</li>
									<li>
										<h4>LEGS: SQUATS AND LUNGES 120 REPS WITHOUT STOPPING</h4>
										<ol>
											<li>20 squats shoulder width stance into 10 lunges each leg</li>
											<li>10 sumo squats INTO 10 close stance squats INTO 10 pulsing lunges each leg with a 5 second hold at the end.</li>
											<li>20 squat jumps into a hold on the last one for 10 seconds into alternating lunges for 20 reps hold 10 seconds on the last rep of each leg</li>
								 		</ol>

									</li>
									
								</ul>
							</div>
						</div>
					</li>{% endcomment %}

			</div>
			
		</div>
	</div>

	<div class="mtnops-samplers-section mtnops-section">
		<header>
	    <h2>{{ collections['erics-go-to-products'].title }}</h2>
	    <span class="h2-subtitle">PRODUCTS TO SUPPORT YOUR CONQUERING!</span>
	  </header>

	  <div class="owl-carousel owl-theme product-carousel" id="suggested-products">
	    {% for product in collections['erics-go-to-products'].products %}
	      <div class="item">
	        <a href="{{product.url}}" target="_blank">
	          <img src="{{ product | img_url: '600x' }}">
	          <h3>{{ product.title }}</h3>
	          <span>{{ product.metafields.meta.subtitle }}</span>
	          {% comment %}<div>{{ product.price  | money }}</div>
	          {% if product.compare_at_price != blank %}
	            <div>{{ product.compare_at_price  | money }}</div>
	          {% endif %}{% endcomment %}
	          <div class="swatches-wrap">
	            {% for color in product.options_by_name['Flavor'].values %}
	              <div class="bg_color bg_color_{{ color | handleize }}"></div>
	            {% endfor %}
	          </div>
	          <button class="mtnops-btn-sm">BUY NOW</button>
	        </a> 
	      </div>
	    {% endfor %}
	  </div>
	</div>
</div>

<script type="text/javascript">

var movements = [
 {
   title: "Floor Press",
   sets: 5,
   reps: 20,
   video: "https://cdn.shopify.com/s/files/1/2786/4584/files/FloorPress.mp4?v=1614030493",
   day: 1
 },
]

	//movement += '<div class=""><a class="play-movement-video" href="#" data-play-video="'+count+'">Play Video</a></div>';

	
	var intro = $('.week-intro'),
	week1 = 'Ah snap! It\'s time to get to work with your new resistance bands! Week 1 is laid out below and ready for you to get started. Each week consists of the same movements, however we will change the number of sets and reps you will do.',
	week2 = 'Week 2 consists of the same workouts as before. The only differences are the sets and reps change on your resistance band movements. Take a look below for your <b>week 2</b> movements.',
	week3 = 'Week 3 consists of the same workouts as before. The only differences are the sets and reps change on your resistance band movements. Take a look below for your <b>week 3</b> movements.';


	intro.html(week1);

	var chev = '<i class="fas fa-chevron-down"></i>';
	$('.day-title-section').append(chev);
	// Play Individual Videos
	// $('.play-movement-video').on('click', function(e) {
	// 	e.preventDefault();
	// 	var vid = $(this).data('play-video');
	// 	$('.video-'+vid).get(0).play();
	// });

	// function loadVideos(elem) {
	// 	elem.addClass('loaded');
	// 	elem.each(function(){
	// 		$(this)[0].play();
	//   });
	// }

	// // LOAD DAY VIDEOS SECTION
	// $('.launch-workout').on('click', function(e) {
	// 	e.preventDefault();
	// 	var esto = $(this),
	// 	videos = esto.parent('.day-wrap').find('.cf-movement video');

	// 	if (!esto.parent().hasClass('active')) {
	// 		$('.day-wrap.active .daily-movements-wrap').slideUp();
	// 		$('.day-wrap.active').removeClass('active');
	// 	}

	// 	loadVideos(videos);
	// 	esto.parent('.day-wrap').toggleClass('active');
	// 	//setTimeout(function() {
	// 	esto.next().slideToggle("slow");
	// 	//}, 100);
	// });

	// $('.tab-trigger').on('click', function(e) {
	// 	e.preventDefault();
	// 	var tab = $(this).data('tab');
	// 	if($('#'+tab).hasClass('active')) {
	// 		$('.tab-panel').removeClass('active').slideUp();	
	// 	} else {
	// 		$('#'+tab).addClass('active').slideToggle();
	// 	}
	// });

	//document.querySelector('#day-1 .day-title-section span').innerHTML =  day1Counter + " Total Movements";

	// var playButtons = document.querySelectorAll(".play-control");
	// var pauseButtons = document.querySelectorAll(".pause-control");

	// for ( var counter = 0; counter < playButtons.length; counter++) {
 //  	playButtons[counter].addEventListener("click", function(e){
 //  		e.preventDefault();
 //      var videoId = this.dataset.video,
	// 		vid = document.querySelector('.'+videoId);
	//   	playVid(vid);
 //  	});
	// }
	// for ( var counter = 0; counter < pauseButtons.length; counter++) {
 //    pauseButtons[counter].addEventListener("click", function(e){
 //    	e.preventDefault();
 //      var videoId = this.dataset.video,
	// 		vid = document.querySelector('.'+videoId);
	//   	pauseVid(vid);
 //   });
	// }
		

	// function playVid(vid) {
	// 	vid.play();
	// }

	// function pauseVid(vid) {
	// 	vid.pause();
	// }

  jQuery(document).ready(function($) {

  	$('.program-section-buttons li a').on('click', function(e) {
			e.preventDefault();

			var content = $(this).data('content');
			//buttons
			$('.program-section-buttons li a').removeClass('active');
			$(this).addClass('active');
			//tabs
			$('.content-tab').removeClass('active');
			$('#content'+content).addClass('active');

			// $('.week-title-section h2').html('Week '+week);
			// $('.movement-meta .sets span').html(sets);
			// $('.movement-meta .reps span').html(reps);

			// if(week == 1) {
			// 	intro.html(week1);
			// } else if (week == 2) {
			// 	intro.html(week2);
			// } else if (week == 3) {
			// 	intro.html(week3);
			// }

			//if(week == 1) {
				
			// 
			//var scroller = $(this).attr('href');
			//$("html, body").animate({scrollTop: $(scroller).offset().top -100}, 500);
		});

		$('.workout-buttons li a').on('click', function(e) {
			e.preventDefault();

			var content = $(this).data('workout');

			//buttons
			$('.workout-buttons li a').removeClass('active');
			$(this).addClass('active');
			//tabs
			$('.workout-content-tab').removeClass('active');
			$('#workout'+content).addClass('active');
		});


		// $('.workouts-list li span').on('click', function(e) {
		// 	$('.workouts-list li span').not(this).next().slideUp();
		// 	$(this).next().slideToggle();
		// });

	  // $(".daily-movements").owlCarousel({
			// responsive:{
			// 	0:{
			// 		items:2
			// 	},
			// 	700:{
			// 		items:3
			// 	},
			// 	1000:{
			// 		items:4
			// 	}
			// },
			// nav: true,
			// //center:true,
			// dots: true,
			// navText: ['<i class="far fa-chevron-left"></i>', '<i class="far fa-chevron-right"></i>'],
			// navElement: 'div',
			// margin: 5,
	  // });

	  $("#suggested-products").owlCarousel({
	    loop: true,
	    nav: false,
	    dots: false,
	    autoplay: true,
	    autoplayTimeout: 6000,
	    autoplayHoverPause: true,
	    responsive: {
	      0: {
	        items: 2
	      },
	      600: {
	        items: 3
	      },
	      800: {
	        items: 4
	      },
	      1000: {
	        items: 5
	      }
	    }
	  });
	 //  $(window).scroll(function(e) {
		// 	$('.day-wrap').each(function(e) {
		// 		if(!$(this).hasClass("loaded") && $(this).has('video').length) {
		// 			isOnScreen('.'+$(this).attr('id'));	
		// 		}
		// 	});
			
		// 	//if(scrollCheck == false) {
				
		// 	//}
		// });


		// var scrollCheck = false;
		
		// function isOnScreen(elem) {
		// 	if( elem.length == 0 ) {
		// 		return;
		// 	}
		// 	$window = $(window),
		// 	top_of_screen = $window.scrollTop(),
		// 	screen_height = $window.innerHeight(),
		// 	bottom_of_screen = top_of_screen + screen_height,
		// 	$elem = $(elem),
		// 	top_of_element = $elem.offset().top,
		// 	height = $elem.height(),
		// 	bottom_of_element = top_of_element + height;

		// 	if(bottom_of_screen > top_of_element) {
		// 		scrollCheck = true;
		// 		console.log($elem);
		// 		loadVideos($elem);
		// 	}
		// }


		// $( window ).on('load', function() {
  //   	loadVideos($('.day-movements'));
		// });


		// $('.play-videos-btn').on('click', function(e){
		// 	e.preventDefault();
		// 	var daysVids = $(this).data('day');
		// 	$('#day-'+daysVids+' video').each( function(){
		// 		$(this)[0].play();
		//   });
		// });
		
	});

    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('program_video', {
            height: '100%',
            width: '100%',
            videoId: 'b8koMcMVVL4', // Youtube video ID #
            playerVars: { 'showinfo': 0, 'controls': 1, rel: 0 },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(event) {
        // bind events
        var playButton = document.querySelector('.play-icon'); // document.getElementById("play-button"); 
        var seekButton = document.querySelectorAll('.seek_trigger');

        playButton.addEventListener("click", function(e) {
            e.preventDefault();
            player.playVideo();
           // document.querySelector('.video_hero_wrap').className = "video_hero_wrap user_watching";
        });

        var pauseButton = document.querySelector(".pause-icon");
        pauseButton.addEventListener("click", function(e) {
            e.preventDefault();
            //document.querySelector('.video_hero_wrap').className = "video_hero_wrap user_paused";
            player.pauseVideo();
            //player.stopVideo();
        });


        var seekButtonlength=seekButton.length;
				for (var i = 0; i < seekButtonlength; i++) { 
				 seekButton[i].addEventListener("click", function(e) {
				 		e.preventDefault();
	        	var seeker = e.target.dataset.seeker;
	        	seekPlay(seeker);
	        	player.playVideo();
	        });
				}

        document.onkeyup = function keyPress(e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                //document.querySelector('.video_hero_wrap').className = "video_hero_wrap";
                player.pauseVideo();
                //player.stopVideo();
            }
        }

    }
    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
        // setTimeout(stopVideo, 6000);
        // done = true;

   		//  var specifiedElement = document.querySelector(".video__wrap");

			// document.addEventListener('click', function(event) {
			//   var isClickInside = specifiedElement.contains(event.target);

			//   if (!isClickInside) {
			//   	document.querySelector(".video__wrap").className = "video__wrap";
		 //        document.querySelector('.banner').className = "banner center page_banner rally-hero dark-overlay-false";
		 //        player.pauseVideo();
			//   }
			// });
        }
        if(event.data === 0){
            //document.querySelector('.video_hero_wrap').className = "video_hero_wrap";
        }
    }
    function stopVideo() {
        player.stopVideo();
    }

    function seekPlay(sec){
	    if(player){
				player.seekTo(sec, true);
				//player.playVideo();
	    }
		}
</script>