{%- assign ck_curency_lang = false -%}
{%- if settings.show_multiple_currencies and settings.supported_currencies != blank -%}
   {%- assign ck_curency_lang = true -%}
{%- elsif settings.show_language_currencies and settings.language_link_list != blank -%}
   {%- assign ck_curency_lang = true -%}
{%- endif -%}
{%- if settings.top_bar_enable and settings.header_design != 'menu-top' -%}
<div class="topbar-wrapp color-scheme-{{settings.top_bar_color}}">
   <div class="container">
      <div class="topbar-content">
         {%- if settings.top_bar_text != blank -%}
         <div class="top-bar-left">{%- if settings.top_bar_text contains '[social_buttons' -%}{{settings.top_bar_text | split:'[social_buttons' | first }} {% if settings.top_bar_text contains 'social_buttons_share' -%}{%- assign gl_follow_social = false -%}{%- else -%}{%- assign gl_follow_social = true -%}{%- endif -%}{%- include 'social-sharing', gl_design:'icons-design-colored', gl_size:'icons-size-small', follow_social:gl_follow_social -%}{%-else-%}{{settings.top_bar_text}}{%- endif -%}</div>
         {%- endif -%}

         {% comment %}<div class="top-bar-center-message">
            EVERY ORDER IN JULY EQUALS 6 MEALS DONATED
         </div>{% endcomment %}
         
         {%- section 'gl_top_bar_menu' -%}
      </div>
   </div>
</div>
<!--END TOP HEADER-->
{%- endif -%}
{%- if settings.mobile_cur_lang and ck_curency_lang -%}
<div class="mobile_currency_lang topbar-menu text-center topbar-wrapp color-scheme-{{settings.top_bar_color}}">
   <ul>
      {%- if settings.show_multiple_currencies -%}{%- include 'gl_currency' -%}{%- endif -%}
      {%- if settings.show_language_currencies and settings.language_link_list != blank -%}{%- include 'gl-lang' -%}{%- endif -%}
   </ul>
</div>
{%- endif -%}
<!-- HEADER -->
<header class="main-header header-has-no-bg header-{{settings.header_design}} icons-design-{{settings.header_icon_style}} color-scheme-tra-{{settings.header_color_tra}} color-scheme-{{settings.header_color_scheme}} color_sticky_{{settings.header_color_sticky}}">
   {%- assign name_el_header = 'header_' | append:settings.header_design -%}
   {%- include name_el_header -%}
   
   {% include 'mtnops_custom_menu' %}
   
</header>
<!--END MAIN HEADER-->
<div class="clear"></div>