

{% comment %}
  PURCHASE REWARDS
  BUY SLUMBER -> GET APEX MUG
  
{% endcomment %}

{% assign spendTotal = 0 %}
{% assign triggerProductOneHandle = 'slumber' %}
{% assign triggerProductTwoHandle = 'slumber-trail-packs' %}
{% comment %}{% assign triggerProductThreeHandle = 'slumber-trail-packs' %}{% endcomment %}
{% assign triggerProductOne = all_products[triggerProductOneHandle] %}
{% assign triggerProductTwo = all_products[triggerProductTwoHandle] %}
{% comment %}{% assign triggerProductThree = all_products[triggerProductThreeHandle] %}{% endcomment %}


{% assign freeProductOneHandle = 'apex-mug' %}
{% assign freeProductTwoHandle = '' %}
{% assign freeProductOne = all_products[freeProductOneHandle] %}
{% assign freeProductTwo = all_products[freeProductTwoHandle] %}
{% assign freeProductOneSwitch = true %}
{% assign freeProductTwoSwitch = false %}

{% assign cartQualifies = false %}
{% assign triggerProductOneInCart = false %}
{% assign triggerProductTwoInCart = false %}
{% assign freeProductInCart = false %}
{% assign addedFromCart = false %}


{% comment %}
  CART LOOP
{% endcomment %}
{% for item in cart.items %}

  {% if item.product_id == triggerProductOne.id %}
    {% assign triggerProductOneInCart = true %}
    {% assign cartQualifies = true %}

  {% elsif item.product_id == triggerProductTwo.id %}
    {% assign triggerProductTwoInCart = true %}
    {% assign cartQualifies = true %}

  {% else %}
    {% assign otherProductsInCart = true %}
  {% endif %}

  {% unless item.properties == empty %}
    {% for property in item.properties %}
      {% if property.first == "promo" %}
        {% assign freeProductInCart = true %}
      {% endif %}
    {% endfor %}
  {% endunless %}

{% endfor %}

{% assign activeScript = false %}

{% if freeProductOneSwitch and triggerProductOneInCart and freeProductOne != empty and freeProductOne.available and freeProductInCart == false %}
  {% assign showPromo = true %}
{% elsif freeProductTwoSwitch and triggerProductTwoInCart and freeProductTwo != empty and freeProductTwo.available and freeProductInCart == false %}
  {% assign showPromo = true %}
{% endif %}

{% if showPromo %}

  <div class="spend-reward-wrap">
    <h3><span>You Qualify for a</span><br>FREE {{freeProductOne.title | replace: "PACKS", "PACK" }}!</h3>
    <p>Thank you for supporting us. Select your free product below.</p>

    <ul class="rewards-list">

      {% if freeProductOneSwitch %}
        {% if freeProductOne.variants.size > 1 %}
          {% for var in freeProductOne.variants %}
            {% if var.available %}
              <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{var.id}}" href="#"><img class="promo-item-image" src="{{ var.featured_media | img_url: '350x' }}"><span>{{freeProductOne.title}}<small> ({{var.title}})</small></span></a></li>
            {% endif %}
          {% endfor %}
        {% else %}
          <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{freeProductOne.variants[0].id}}" href="#"><img class="promo-item-image" src="{{ freeProductOne.images[0].src | img_url: 'master' }}"><span>{{freeProductOne.title}}</span></a></li>
        {% endif %}
      {% endif %}

      {% if freeProductTwoSwitch %}
        {% if freeProductTwo.variants.size > 1 %}
          {% for var in freeProductTwo.variants %}
            {% if var.available %}
              <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{var.id}}" href="#"><img class="promo-item-image" src="{{ var.featured_media | img_url: '350x' }}"><span>{{freeProductTwo.title}}<small> ({{var.title}})</small></span></a></li>
            {% endif %}
          {% endfor %}
        {% else %}
          <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{freeProductOne.variants[0].id}}" href="#"><img class="promo-item-image" src="{{ freeProductOne.images[0].src | img_url: 'master' }}"><span>{{freeProductTwo.title}}</span></a></li>
        {% endif %}
      {% endif %}

    </ul>

  </div>

{% comment %}{% elsif freeProductTwoSwitch and triggerProductTwoInCart and freeProductTwo != empty and freeProductTwo.available and freeProductInCart == false and addedFromCart == false or freeProductTwoSwitch and triggerProductTwoInCart and freeProductThree != empty and freeProductThree.available and freeProductInCart == false and addedFromCart == false %}
  {% assign activeScript = true %}
  <div class="spend-reward-wrap">
    <h3><span>You Qualify for a</span><br>FREE {{freeProductTwo.title}}!</h3>
    <p>Thank you for supporting us. Select your free product below.</p>
    <ul class="rewards-list">
      {% if freeProductTwo.variants.size > 1 %}
        {% for var in freeProductTwo.variants %}
          {% if var.available %}
            <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{var.id}}" href="#"><img class="promo-item-image" src="{{ var.featured_media | img_url: '350x' }}"><span>{{freeProductTwo.title}}<small> ({{var.title}})</small></span></a></li>
          {% endif %}
        {% endfor %}
      {% else %}
        <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{freeProductTwo.variants[0].id}}" href="#"><img class="promo-item-image" src="{{ freeProductTwo.images[0].src | img_url: 'master' }}"><span>{{freeProductTwo.title}}</span></a></li>
      {% endif %}
    </ul>
  </div>{% endcomment %}


  <script type="text/javascript">

    //console.log('reward: ','{{freeProductOne.available}}');

    //add item to cart
    function addfreeProductToCart(product_id, quantity) {
      data = {
        "quantity": quantity,
        "id": product_id,
        properties: {
          'promo': 'ENJOY!'
        }
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          //console.log('{{freeProductOne.title}} has been added to cart.');


          $('#promo-cart-popup img, #promo-cart-popup .add-promo-item-to-cart, #promo-cart-popup p, #promo-cart-popup .cart-upsell-tier, #promo-cart-popup .prize-clause, .no-thanks, .promo-product-add-to-cart-wrap').hide();
          $('#promo-cart-popup h3').replaceWith('<h3>AWESOME!<br>WE ARE ADDING IT TO YOUR CART.</h3><br><h4>JUST A SEC.</h4>');
          //setTimeout(function(){
          $('.update-cart').trigger('click');  
          //}, 1000);
          
        },
        error: function (request, status, error) {
          console.log(request.responseText);
          var code = request.responseJSON.status;
          //if (code == 422 ) {
            //$('.message').text();
          //}
          console.log("<p>" + request.responseJSON.description + "</p>");
          alert('error on adding product to cart.');
        }
      });
    }



    //promo item add to cart
    $('.add-free-product-to-cart').on('click', function(e) {
      var promoItemId = $(this).data('product-id');
      e.preventDefault();
      addfreeProductToCart(promoItemId, 1);
      $(this).addClass('active');
    });
    

    //reset when promo item is removed from cart
    // $('.cart_item_{{freeMug}} .product-remove a.remove, .clear-button').on('click', function(e){
    //  console.log('remove promo line item from cart');
    // });


    // {% if triggerProductInCart and freeProductInCart == false %}
    //   setTimeout(function(){
    //     $('#promo-cart-popup').iziModal('open');  
    //   }, 800);
    // {% endif %}

  </script>

{% endif %}



{% assign showBanner = false %}
{% if freeProductOne != empty and freeProductOne.available and cartQualifies == false %}
  {% assign showBanner = true %}
{% elsif freeProductTwo != empty and freeProductTwo.available and cartQualifies == false %}
  {% assign showBanner = true %}
{% endif %}

{% if showBanner %}

  <a class="cart-banner spend-reward-banner" href="{{triggerProductOne.url}}">
    {% comment %}<img class="image-show-mobile" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Opstober-CartUpsell-MobileBanner.png?v=1601423972">
    <img class="image-show-desktop" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Opstober-CartUpsell-Banner.png?v=1601423689">{% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/cart-banner-slumber-saturday.png?v=1618591529">
  </a>
  
  {% comment %}<div class="cart-banner spend-reward-banner">
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/3-26-21-HotIgniteBogoLaunch-CartBanner.jpg?v=1616703087">
  </div>{% endcomment %}

{% endif %}


{% comment %}{% if addedFromCart and freeProductQty > 1 %}
  <script type="text/javascript">
    $.post('/cart/update.js', {
      updates: {
        '{{freeProduct.variants[0].id}}': 1
      }
    });

  </script>
  
{% endif %}{% endcomment %}

{% comment %}<style type="text/css">
  .cart_item_{{freeProduct.variants[0].id}} .quantity {
    display: none;
  }
</style>
{% endcomment %}

