

{% comment %}
  PURCHASE REWARDS

  // BUY SLUMBER
  // GET SLUMBER TRAIL
  
{% endcomment %}

{% assign spendTotal = 0 %}
{% assign triggerProductHandle = 'tiki-island-punch' %}

{% assign freeProductHandle = 'ignite-promo-sampler' %}

{% assign triggerProduct = all_products[triggerProductHandle] %}

{% assign freeProduct = all_products[freeProductHandle] %}


{% assign cartQualifies = false %}
{% assign triggerProductInCart = false %}
{% assign freeProductInCart = false %}
{% assign addedFromCart = false %}


{% comment %}
  CART LOOP
{% endcomment %}
{% for item in cart.items %}

  {% if item.product_id == triggerProduct.id %}
    {% assign triggerProductInCart = true %}
    {% assign cartQualifies = true %}
  {% endif %}

  {% if item.product_id == freeProduct.id %}
    {% assign freeProductInCart = true %}
    {% assign freeProductQty = item.quantity %}

  {% else %}
    {% assign otherProductsInCart = true %}
  {% endif %}

  {% unless item.properties == empty %}
    {% for property in item.properties %}
      {% if property.first == "reward" %}
        {% assign addedFromCart = true %} 
      {% endif %}
    {% endfor %}
  {% endunless %}

{% endfor %}


{% if cartQualifies and freeProduct != empty and freeProduct.available and freeProductInCart == false and addedFromCart == false %}
  
  <div class="spend-reward-wrap">
    <h3><span>You Qualify for </span><br>FREE {{freeProduct.title}}!</h3>
      
      <p>Thank you for supporting us. Select your free product below.</p>
      <ul class="rewards-list">
        {% if freeProduct.available %}
          {% if freeProduct.variants.size > 1 %}
            {% for var in freeProduct.variants %}
              {% if var.available %}
                <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{var.id}}" href="#"><img class="promo-item-image" src="{{ var.featured_media | img_url: '350x' }}"><span>{{freeProduct.title}}<small> ({{var.title}})</small></span></a></li>
              {% endif %}
            {% endfor %}
          {% else %}
            <li><a class="add-free-product-to-cart freeProduct-add-to-cart" data-product-id="{{freeProduct.variants[0].id}}" href="#"><img class="promo-item-image" src="{{ freeProduct.images[0].src | img_url: 'master' }}"><span>Add to Cart</span></a></li>
          {% endif %}
        {% endif %}

      </ul>
    
  </div>

  
  <script type="text/javascript">

      var freeProduct = '{{freeProduct.title}}';

      //console.log('reward: ','{{freeProduct.available}}');

      //add item to cart
      function addfreeProductToCart(product_id, quantity) {
        data = {
          "quantity": quantity,
          "id": product_id,
          properties: {
            'promo': 'FREE ' + freeProduct + '!'
          }
        }
        jQuery.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: data,
          dataType: 'json',
          success: function() { 
            //console.log('{{freeProduct.title}} has been added to cart.');


            $('#promo-cart-popup img, #promo-cart-popup .add-promo-item-to-cart, #promo-cart-popup p, #promo-cart-popup .cart-upsell-tier, #promo-cart-popup .prize-clause, .no-thanks, .promo-product-add-to-cart-wrap').hide();
            $('#promo-cart-popup h3').replaceWith('<h3>AWESOME!<br>WE ARE ADDING IT TO YOUR CART.</h3><br><h4>JUST A SEC.</h4>');
            //setTimeout(function(){
            $('.update-cart').trigger('click');  
            //}, 1000);
            
          },
          error: function (request, status, error) {
            console.log(request.responseText);
            var code = request.responseJSON.status;
            //if (code == 422 ) {
              //$('.message').text();
            //}
            console.log("<p>" + request.responseJSON.description + "</p>");
            alert('error on adding product to cart.');
          }
        });
      }



      //promo item add to cart
      $('.add-free-product-to-cart').on('click', function(e) {
        var promoItemId = $(this).data('product-id');
        e.preventDefault();
        addfreeProductToCart(promoItemId, 1);
        $(this).addClass('active');
      });
      

      //reset when promo item is removed from cart
      // $('.cart_item_{{freeMug}} .product-remove a.remove, .clear-button').on('click', function(e){
      //  console.log('remove promo line item from cart');
      // });


      // {% if triggerProductInCart and freeProductInCart == false %}
      //   setTimeout(function(){
      //     $('#promo-cart-popup').iziModal('open');  
      //   }, 800);
      // {% endif %}

  </script>

{% endif %}

{% comment %}{% if freeProduct != empty and freeProduct.available and cartQualifies == false %}
  <a class="cart-banner spend-reward-banner" href="{{ triggerProduct.url }}">
    <img class="image-show-mobile" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Opstober-CartUpsell-MobileBanner.png?v=1601423972">
    <img class="image-show-desktop" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Opstober-CartUpsell-Banner.png?v=1601423689">
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/6-14-21---SodaSeriesTumblerPromo-CartBanner2.jpg?v=1623674905">
  </a>
{% endif %}{% endcomment %}


{% comment %}{% if addedFromCart and freeProductQty > 1 %}
  <script type="text/javascript">
    $.post('/cart/update.js', {
      updates: {
        '{{freeProduct.variants[0].id}}': 1
      }
    });

  </script>
  
{% endif %}{% endcomment %}

{% comment %}<style type="text/css">
  .cart_item_{{freeProduct.variants[0].id}} .quantity {
    display: none;
  }
</style>
{% endcomment %}

