<div class="mtnops-custom-menus-wrap">
  <div class="sampler-menu-wrap mtnops-custom-menu">
  	<ul class="mtnops-samplers-menu-list">
  	{% for product in collections['mtn-ops-samplers'].products %}
      <li>
      	<a href="{{product.url}}">
      		<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product | img_url: '600x' }}">
      		<h3>{{ product.title | remove: "SAMPLER" }}</h3>
          <span>{{ product.metafields.meta.subtitle }}</span>
          {% comment %}<div>{{ product.price  | money }}</div>
          {% if product.compare_at_price != blank %}
            <div>{{ product.compare_at_price  | money }}</div>
          {% endif %}{% endcomment %}
      		<div class="swatches-wrap">
  			    {% for color in product.options_by_name['Flavor'].values %}
  			      <div class="bg_color bg_color_{{ color | handleize }}"></div>
  			    {% endfor %}
  			  </div>
      	</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="mtnops-supps-menu-wrap mtnops-custom-menu">
    <ul class="mtnops-menu-list">
    {% for link in linklists.shop.links %}
      <li {% if link.active %}class="active {% if link.child_active %}child-active{% endif %}"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
      {% if link.links != blank %}
        <ul class="child">
          {% for child_link in link.links %}  
          <li {% if child_link.active %}class="active {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
          {% if child_link.links != blank %}
            <ul class="grandchild">
            {% for grandchild_link in child_link.links %}  
              <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
          </li>
          {% endfor %}
        </ul> 
      {% endif %} 
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="mtnops-gear-menu-wrap mtnops-custom-menu">
    <ul class="mtnops-menu-list">
    {% for link in linklists.gear-menu.links %}
      <li {% if link.active %}class="active {% if link.child_active %}child-active{% endif %}"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
      {% if link.links != blank %}
        <ul class="child">
          {% for child_link in link.links %}  
          <li {% if child_link.active %}class="active {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
          {% if child_link.links != blank %}
            <ul class="grandchild">
            {% for grandchild_link in child_link.links %}  
              <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
          </li>
          {% endfor %}
        </ul> 
      {% endif %} 
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="mtnops-more-menu-wrap mtnops-custom-menu">
    <ul class="mtnops-menu-list">
    {% for link in linklists.who-we-are.links %}
      <li {% if link.active %}class="active {% if link.child_active %}child-active{% endif %}"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
      {% if link.links != blank %}
        <ul class="child">
          {% for child_link in link.links %}  
          <li {% if child_link.active %}class="active {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
          {% if child_link.links != blank %}
            <ul class="grandchild">
            {% for grandchild_link in child_link.links %}  
              <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
          </li>
          {% endfor %}
        </ul> 
      {% endif %} 
      </li>
    {% endfor %}
    </ul>
  </div>
</div>