<!DOCTYPE html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="keywords" content="{{ shop.name | strip_html | strip }}">
  <meta name="author" content="{{ shop.domain | strip_html | strip }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="facebook-domain-verification" content="henr7kaoj3adxqdc71qdmt9zsy6j9l" />
  
  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}" type="image/png">
  {% endif %}
   {%- if settings.favicon_apple != blank -%}
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">
  {%- endif -%}
  <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js', 'yes-js js_active js')</script>
   {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {%- include 'social-meta-tags' -%}
  {%- capture check_admin -%}{{ content_for_header }}{%- endcapture -%}
  {%- capture check_tab -%}{{ content_for_layout  }}{%- endcapture -%}
  {{ 'tab_shopify.min.css' | asset_url | stylesheet_tag }}
  <link rel="preload" href="{{ 'gl_linecons_icons.min.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'gl_linecons_icons.min.css' | asset_url }}"></noscript>
  {%- if check_admin contains 'design_mode' -%}{%- assign admin_shopify = true -%}{%- endif -%}
  {%- if check_tab contains 'section_tab_gl_css' -%}
  {%- assign section_tab_css_enable = true -%}
  {%- endif -%}
  {%- if check_tab contains 'gl_has_youtube' or check_tab contains 'has_section_gl_js' or check_tab contains 'animated_counter' -%}
  {%- assign section_js_enable = true -%}
  {%- endif -%}
  {%- if check_tab contains 'gl_has_google_map' -%}
  {%- assign section_js_googlem_enable = true -%}
  {%- endif -%}
  {%- include 'gl_header_css' -%}
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
   <script>
      {%- assign font_body_text = settings.font_body_text -%}
{%- assign font_titles_text = settings.font_titles_text -%}
{%- assign font_title_products = settings.font_title_products -%}
{%- assign font_secondary_products = settings.font_secondary_products -%}
{%- assign font_post = settings.font_post -%}
{%- assign font_info = settings.font_info -%}
{%- assign font_navigation = settings.font_navigation -%}
     WebFont.load({
       google: {
         families: [
     {%- if font_body_text != blank -%}"{{font_body_text}}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%} 
     {%- if font_titles_text != blank and font_titles_text != font_body_text -%},"{{ font_titles_text }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
     {%- if font_title_products != blank and font_title_products != font_body_text and font_title_products != font_titles_text -%},"{{ font_title_products }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
     {%- if font_secondary_products != blank and font_secondary_products != font_body_text and font_secondary_products != font_titles_text and font_secondary_products != font_title_products -%},"{{ font_secondary_products }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
     {%- if font_post != blank and font_post != font_secondary_products and font_post != font_body_text and font_post != font_titles_text and font_post != font_title_products -%},"{{ font_post }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
      {%- if font_info != blank and font_info != font_post and font_info != font_secondary_products and font_info != font_body_text and font_info != font_titles_text and font_info != font_title_products -%},"{{ font_info }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
      {%- if font_navigation != blank and font_navigation != font_info and font_navigation != font_post and font_navigation != font_secondary_products and font_navigation != font_body_text and font_navigation != font_titles_text and font_navigation != font_title_products -%},"{{ font_navigation }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
    ]
       }
     });
   </script>
  {%- include 'load-css' -%}
  {%- include 'inc_css_home' -%}
  {%- if settings.show_custom_css -%}{{ 'custom.css' | asset_url | stylesheet_tag }}{%- endif-%}

  <!-- MTN OPS Styles -->
  {{ 'styles.css' | asset_url | stylesheet_tag }}

  {% if template contains 'truck' or template contains 'landing-sms' %}
    {{ 'giveaways.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" integrity="sha256-IyR33qBiUXj7Clf/BpIUivtGnpIpLIL0XOCEGSQPZxg=" crossorigin="anonymous" />


  {% if handle contains 'checkouts' or handle contains 'admin' or template contains 'checkouts' or template contains 'admin' or template contains '404' or handle contains 'sandbox' or handle contains '050720' or handle contains 'introducing-bars' or handle contains 'bugle-berry-sample-8-10-20' or handle contains 'insert-60970540000' %}
    <meta name="robots" content="noindex">
  {% endif %}
  
  {%- if template contains 'product' -%}
    {%- include 'space_check_variant' -%}
    {%- include 'nathan_settings' -%}
    {{ 'product-styles.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />

  {%- endif-%}
  {%- if template contains 'page' -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
  {%- endif-%}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
 {%- comment -%} <script src="{{ 'jquery_migrate.min.js' | asset_url }}"></script>{%- endcomment -%}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.js" integrity="sha256-jx5SpNrWp5tIlHK2uGtUsZ4QRJkEV9aQXXGN3kkPXIE=" crossorigin="anonymous"></script>
  {{ content_for_header }}

  


  {% if template contains 'swell-rewards' or handle contains 'refer-a-friend' or template contains 'account' %}
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/MRXLvbMn9NEZwFuKaF2Dxw" async></script>
    {{ 'swell-rewards.scss.css' | asset_url | stylesheet_tag }}
    {{ 'swell-rewards.js' | asset_url | script_tag }}

  {% endif %}

  {% render 'shogun-head' %}
</head>
{%- include 'class_body_theme' -%}
<body class="sticky-toolbar-{{settings.sticky_toolbar}} {%- if settings.ajax_shop -%}basel-ajax-shop-on{%- endif %} template-{{ template | split: '.' | first }} {{header_class }} {{footer_layout}} {{ general_layout }} {{ search_layout }} {{ tab_class }} {{ design_products }} global-header-{{settings.header_design}} global-cart-design-{{settings.cart_design}}{%- if customer %} logged-in{%- endif %}{%- if catalog_mode %} catalog-mode-on{%- else %} catalog-mode-off{%- endif %}{%- unless template contains 'index' %} shopify shopify-page{%- endunless %}{%- if template contains '404' %} error404{%- endif-%}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG93PVZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include 'mtnops_sitewide_modals' %}
  {% comment %}{% if template contains 'swell-rewards' and customer and customer.email == 'jake.shaw@me.com' %}
    <div 
        id="swell-customer-identification"
        data-authenticated="true"
        data-email="{{ customer.email }}"
        data-id="{{ customer.id }}"
        data-tags="{{ customer.tags | json }}"
        style="display:none;"
     ></div>
 {% endif %}{% endcomment %}

  {%- if customer == blank and settings.login_side -%}{%- include 'login_side' -%}{%- endif -%}
  {%- if settings.color_light_mobile_menu -%}
  <div class="nt_light">{%- section 'gl_mobile_menu'-%}</div>
  {%- else -%}
  {%- section 'gl_mobile_menu'-%}
  {%- endif -%}
  <!--END MOBILE-NAV-->

  {%- if settings.enable_header_banner -%}
  <div class="header-banner color-scheme-light">
    {%- if settings.close_banner_btn -%}<a href="#" class="close-header-banner"></a>{%- endif -%}
   {%- if settings.link_banner != blank -%}<a href="{{settings.link_banner}}" class="header-banner-link"></a>{%- endif -%}
    <div class="container header-banner-container">
      <p style="text-align: center; color: {{settings.header_banner_text}} !important;">{{settings.banner_content | strip_html }}</p>
    </div>
  </div>
  {%- endif -%}
  {%- if settings.cart_position == 'side' -%}{%- include 'cart_widget_side'-%}{%- endif -%}
  <div class="website-wrapper{% if template contains 'product' %} product-page-wrap product-{{ product.handle | handleize }}{% if template contains 'launch' %} product-launch-wrap{% endif %}{% elsif template contains 'page' %} single-page-wrap page-{{ page.handle | handleize }}{% elsif template contains 'collection' %} collection-page-wrap collection-{{ collection.handle | handleize }}{% elsif template contains 'article' %} {{ blog.title | handleize }}-page-wrap program-{{ article.title | handleize }}{% endif %}">
    {%- include 'header'-%}
    {{ content_for_layout }}
    <!-- FOOTER -->
    {%- include 'footer' -%}
    <div class="basel-close-side"></div>
    {%- section 'gl_custom_color' -%}
  </div>
  <!-- end wrapper -->
  {%- section 'toolbar_mobile' -%}
  {%- if settings.show_backtop -%}<a href="#" class="scrollToTop basel-tooltip"><span class="basel-tooltip-label">Scroll To Top</span>Scroll To Top</a>{%- endif -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.js' | asset_url }}"></script><![endif]-->
  
  
  {%- include 'theme_string' -%}
  {%- if template.directory == 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {%- endif -%}
  {% if admin_shopify -%}
    {%- if settings.enable_update -%}{{ 'the4-update-theme.js' | asset_url | script_tag }}{%- include 'the4_update_theme' -%}{%- endif -%}
    {{ 'tta.min.css' | asset_url | stylesheet_tag }}
  {%- elsif section_tab_css_enable -%}
    {{ 'tta.min.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
  {% if admin_shopify -%}
    {{ 'animate.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'waypoints.min.js' | asset_url }}"></script>
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl_section.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl_section.min.js' | asset_url }}"></script><![endif]-->
  {%- elsif section_js_enable -%}
    {{ 'animate.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'waypoints.min.js' | asset_url }}"></script>
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}
  {% if template contains 'collection' and settings.use_pagination == 'infinit' -%}
  <script src="{{ 'waypoints.min.js' | asset_url }}"></script>
  {%- endif -%}
  {%- assign gl_portfolio = settings.blog_portfolio -%}
  {%- if blog.handle == gl_portfolio and settings.portfolio_full_width -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}
  {%- include 'gl_bottom_js'-%}

  <!-- MTN OPS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  {{ 'mtnops-custom.js' | asset_url | script_tag }}

  {%- if template contains 'product' -%}
    {{ 'product-scripts.js' | asset_url | script_tag }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

  {%- endif -%}

  {% if admin_shopify and template contains 'index' -%}
  <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key"></script>
  {%- elsif section_js_googlem_enable and settings.api_key != blank -%}
  <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key={{settings.api_key}}"></script>
  {%- elsif section_js_googlem_enable -%}
  <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key"></script>
  {%- endif -%}
  {%- include 'gl-currencies' -%}
  {%- if settings.enable_popup -%}{%- include 'basel-promo-popup' -%}{%- endif -%}
  {%- if settings.enable_cookies_popup -%}{%- include 'basel-cookies-popup' -%}{%- endif -%}
  {%- if settings.enable_suggest_products -%}{%- include 'tea_suggest' -%}{%- endif -%}
  {%- if settings.show_sticky_add and template.name == 'product' and product.available == true and linklists[product.handle].links.size == 0 -%}{%- include 'sticky_add_to_cart' -%}{%- endif -%}
  
  {%- if shop.enabled_currencies.size > 1 and settings.currency_type == '1' and settings.show_multiple_currencies %}{%- assign cart_iso_code = cart.currency.iso_code -%}{%- form 'currency', class: "hide hidden dn" -%}<select name="currency" id="CurrencySelector">{%- for currency in shop.enabled_currencies -%}{%- assign iso_code = currency.iso_code -%}<option value="{{iso_code}}"{% if iso_code == cart_iso_code %} selected="true"{% endif %}>{{iso_code}}</option>{%- endfor -%}</select>{%- endform -%}{%- endif -%}
  {%- if template contains 'product' or template contains 'article' or check_photowipe -%}{%- include 'photoswipe' -%}{%- endif -%}
  {%- if settings.use_compare and pages['compare'].empty? != true -%}{%- include 'gl_compare' -%}{%- endif -%}
  {%- if settings.custom_js != blank -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'custom_js.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'custom_js.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}
  {%- include 'last_catelog_mod',var_last:true -%}

  <!-- Begin ReCharge code -->
  {% if template contains "product" or template contains "cart" %}{% endif %}
  
  {% include 'subscription-theme-footer' %}
  <!-- End ReCharge code -->


  {% if product.type == 'Supplements' %}
    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "NbNrRX",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{ 
        trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: "klaviyo-stock-btn",
          product_page_text_align: "center",
          product_page_margin: "0px",
          alternate_anchor: "shopify_add_to_cart",
          replace_anchor: true
        },
        modal: {
         headline: "{product_name}",
         body_content: "Sign Up to receive a notification when this item comes back in stock.",
         email_field_label: "Your Email",
         button_label: "Notify me when available",
         subscription_success_label: "Sounds good! We'll let you know when it's back.",
         footer_content: '',
         //additional_styles: "",
         //additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue'); #klaviyo-bis-modal {text-align: center; } #klaviyo-bis-modal h3 { font-weight: bold; font-size: 30px; line-height: 1; } #klaviyo-bis-modal p { margin: 5px 0;}",
         font_family: '"Helvetica Neue", Helvetica, Arial, sans-serif;',
         drop_background_color: "#000",
         background_color: "#fff",
         text_color: "#222",
         button_text_color: "#fff",
         button_background_color: "#000000",
         close_button_color: "#ccc",
         error_background_color: "#fcd6d7",
         error_text_color: "#C72E2F",
         success_background_color: "#ff5100",
         success_text_color: "#ffffff"
        }
      });
    </script>
  {% endif %}

  {% if customer.email != "jake.shaw@me.com" %}
    <!-- Norton Shopping Guarantee Seal -->
    <script type="text/javascript" src="//guarantee-cdn.com/Web/Seal/gjs.aspx?SN=965624655"></script>

    <!-- Google Reviews Badge -->
    <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
    <script>
      window.renderBadge = function() {
        var ratingBadgeContainer = document.createElement("div");
        document.body.appendChild(ratingBadgeContainer);
        window.gapi.load('ratingbadge', function() {
          window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 127084049, "position": "BOTTOM_RIGHT"});
        });
      }
    </script>
  {% endif %}

  {% comment %}{% if customer.email == "jake.shaw@me.com" and product.type == "Supplements" %}
    {% include 'mtnops_subscriptions_js' %}
  {% endif %}{% endcomment %}

</body>
</html>
