{%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_border != blank -%}
{%- assign s_margin_top = section.settings.section_margin_top | remove: ' ' | join: ' ' -%}
{%- assign s_margin_bottom = section.settings.section_margin_bottom | remove: ' ' | join: ' ' -%}
{%- assign s_border = section.settings.section_border | remove: ' ' | split: '-' | join: ' ' -%}
{%- endif -%}
{%- capture style_block_section -%}
   {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_padding_top != blank or section.settings.section_padding_right != blank or section.settings.section_padding_left != blank or section.settings.section_padding_bottom != blank or section.settings.section_bg_color != blank or section.settings.section_bg_image != blank or section.settings.section_border != blank -%}
   <style type="text/css">.gl_custom_{{section.id}}{ {%- if section.settings.section_margin_top != blank -%} margin-top: {{s_margin_top}} !important;{%- endif -%}{%- if section.settings.section_margin_bottom != blank -%} margin-bottom: {{s_margin_bottom}} !important;{%- endif -%}{%- if section.settings.section_padding_top != blank -%}padding-top: {{section.settings.section_padding_top}} !important;{%- endif-%}{%- if section.settings.section_padding_right != blank -%}padding-right: {{section.settings.section_padding_right}} !important;{%- endif-%}{%- if section.settings.section_padding_bottom != blank -%}padding-bottom: {{section.settings.section_padding_bottom}} !important;{%- endif-%}{%- if section.settings.section_padding_left != blank -%}padding-left: {{section.settings.section_padding_left}} !important; {%- endif -%}{%- if section.settings.section_bg_color != blank -%}background-color: {{ section.settings.section_bg_color }} !important;{%- endif -%}{%- if section.settings.section_bg_image != blank -%}{%- assign image = section.settings.section_bg_image -%}background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;{%- endif -%}{%- if section.settings.section_border != blank and section.settings.section_border_color != blank -%}border-width: {{ s_border }} !important; border-color: {{section.settings.section_border_color}} !important; border-style: {{section.settings.section_border_style}} !important{%- endif -%} }</style>
   {%- endif -%}
{%- endcapture -%}
{%- capture data_section -%}
  {%- if section.settings.row_stretch == 'stretch_row' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true'
  {%- elsif section.settings.row_stretch == 'stretch_row_content' or section.settings.row_stretch == 'stretch_row_content_no_spaces' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true' data-gl-stretch-content='true'
  {%- else -%}
  {%- assign class_has_fill = '' -%}
  {%- endif -%}
{%- endcapture -%}
 {{ style_block_section }}
<div {{ data_section }}{%- if section.settings.use_video and section.settings.video_url != blank %} data-gl-video-bg="{{ section.settings.video_url }}"{%- endif %} class="gl_custom_{{section.id}} {% if section.settings.row_stretch == 'stretch_row_content_no_spaces' %}gl_row-no-padding{%- endif %}{%- if section.settings.use_parallax %} basel-parallax{%- endif %} gl_row spb_row gl_row-fluid {{class_has_fill}} {%- if section.settings.use_video and section.settings.video_url != blank %} opacity-video-bg gl_video-bg-container gl_has_youtube{%- endif %}{%- if section.settings.full_height %} gl_row-o-full-height gl_row-o-columns-{{section.settings.columns_position}}{%- endif %}{%- if section.settings.equal_height %} gl_row-o-equal-height{%- endif %}{%- unless section.settings.content_position == 'default' %} gl_row-o-content-{{section.settings.content_position}}{%- endunless %}{%- if section.settings.equal_height or section.settings.full_height or section.settings.content_position != 'default' %} gl_row-flex{%- endif %}{%- if section.settings.section_bg_image != blank %} lazy_bg lazyload{%- endif %}"{%- if section.settings.section_bg_image != blank %} data-bgset="{%- include 'bgset', image: section.settings.section_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url('{{ section.settings.section_bg_image | img_url: '50x50' }}')"{%- endif -%}>
  <div class="spb_column gl_column_container gl_col-sm-12 color-scheme-{{section.settings.text_color}}">
    <div class="gl_column-inner gl_pt_0">
      <div class="spb_wrapper">
        <div class="gl_row spb_row gl_inner gl_row-fluid">
          <div class="spb_column gl_column_container gl_col-sm-6 gl_col-sm-offset-3">
            <div class="gl_column-inner gl_mb_4">
              <div class="spb_wrapper">
                {%- if section.settings.title != blank -%}
                <div class="title-wrapper basel-title-color-{{ section.settings.title_color }} basel-title-style-{{ section.settings.title_style }} basel-title-size-{{ section.settings.title_size }} text-{{ section.settings.title_align }}">
                   {%- if section.settings.sub_title != blank -%}
                   <span class="title-subtitle font-{{ section.settings.subtitle_font }}">{{ section.settings.sub_title }}</span>
                   {%- endif -%}
                   {%- if section.settings.title != blank -%}
                   {%- assign section_title = section.settings.title -%}
                   <div class="liner-continer"> 
                       <span class="left-line"></span> 
                       <h4 class="title">{%- if section_title contains ']' -%}{%- assign _section_title = section_title | split:'[' -%}{{_section_title[0]}} <span class="color-primary">{{ _section_title[1] | split:']' | first }}</span>{%- else -%}{{ section_title }}{%- endif -%}<span class="title-separator"><span></span></span></h4> 
                       <span class="right-line"></span> 
                   </div>
                   {%- endif -%}
                   {%- if section.settings.text_after_title != blank -%}
                   <span class="title-after_title">{{ section.settings.text_after_title }}</span>
                   {%- endif -%}
                </div>
                {%- endif -%}
              </div>
            </div>
          </div>
          {%- if section.blocks.size > 0 -%}
             {%- for block in section.blocks -%}
                <div class="spb_column gl_column_container gl_col-sm-4" {{ block.shopify_attributes }}>
                  <div class="gl_column-inner ">
                    <div class="spb_wrapper">
                      <div class="title-wrapper  basel-title-color-default basel-title-style-default basel-title-size-default text-left ">
                        <div class="liner-continer">
                          <span class="left-line"></span> 
                          <h4 class="title">{{ block.settings.author}}<span class="title-separator"><span></span></span></h4>
                          <span class="right-line"></span> 
                        </div>
                        <span class="title-after_title">{{ block.settings.user_title}}</span>
                      </div>
                      <div class="spb_single_image spb_content_element gl_align_left">
                        <figure class="spb_wrapper gl_figure">
                          <div class="gl_single_image-wrapper gl_box_border_grey">
                           {%- if block.settings.avatar != blank -%}
                            {%- assign image = block.settings.avatar -%}
                            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <img src="{{ image | img_url: '50x50' }}" data-src="{{ img_url }}" data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ image.aspect_ratio }}"  data-sizes="auto" class="lazyload w__100 attachment-shop_catalog size-shop_catalog" alt="{{image.alt}}" >
                            <div class="jas-wrap-lazy"></div>
                            {%- else -%}
                            <img width="600" height="442" src="https://cdn.shopify.com/s/files/1/1933/6253/files/portfolio-placeholder_300x214_crop_center.jpg?12790048884060573015">                            
                            {%- endif -%}
                          </div>
                        </figure>
                      </div>
                      <div class="spb_text_column spb_content_element">
                        <div class="spb_wrapper">
                          {{ block.settings.quote}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             {%- endfor -%}
          {%- endif -%}
           {%- if section.blocks.size == 0 -%}
            {%- include 'no-blocks' -%}
           {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- unless section.settings.row_stretch == 'default' -%}
  <div class="gl_row-full-width gl_clearfix"></div>
{%- endunless -%}
{%- schema -%}
  {
    "name": "store information sushi",
    "class": "index-section index-Image_text_sushi",
    "max_blocks": 9,
    "settings": [
      {
      "type": "header",
      "content": "== General Settings"
      },
      {
        "type": "select",
        "id": "row_stretch",
        "options": [
         {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "stretch_row",
            "label": "Stretch row"
          },
          {
            "value": "stretch_row_content",
            "label": "Stretch row and content"
          },
          {
            "value": "stretch_row_content_no_spaces",
            "label": "Stretch row and content (no paddings)"
          }
        ],
        "label": "___ Row stretch",
        "info": "Select stretching options for row and content (Note: stretched may not work properly if parent container has 'overflow: hidden' CSS property).",
        "default": "default"
      },
      {
        "type": "checkbox",
        "id": "full_height",
        "label": "Full height row?",
        "info": "if checked row will be set to full height.",
        "default": false
      },
      {
        "type": "select",
        "id": "columns_position",
        "options": [
         {
            "value": "middle",
            "label": "Middle"
          },
         {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "stretch",
            "label": "Stretch"
          }
        ],
        "label": "___ Columns position (only for full height)",
        "info": "Select columns position within row.",
        "default": "middle"
      },
      {
        "type": "checkbox",
        "id": "equal_height",
        "label": "Equal height?",
        "info": "If checked columns will be set to equal height.",
        "default": false
      },
      {
        "type": "select",
        "id": "content_position",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "middle",
            "label": "Middle"
          },
         {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "label": "___ Content position",
        "info": "Select content position within columns.",
        "default": "default"
      },
      {
       "type": "select",
       "id": "text_color",
       "options": [
        {
           "value": "light",
           "label": "Light"
         },
         {
           "value": "dark",
           "label": "Dark"
         }
       ],
       "label": "== Color Scheme",
       "default": "light"
     },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "MADE THE HARD WAY[highlight]",
        "default": "FEATURED CATEGORIES"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title",
        "default": "MADE THE HARD WAY"
      },
      {
        "type": "textarea",
        "id": "text_after_title",
        "label": "Text after title"
      },
      {
        "type": "select",
        "id": "title_style",
        "label": "Title style",
        "options": [
        {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "simple",
            "label": "Simple"
          },
          {
            "value": "simple_car",
            "label": "Simple Car"
          },
          {
            "value": "cross",
            "label": "X sign"
          },
          {
            "value": "bordered",
            "label": "Bordered"
          },
          {
            "value": "shadow",
            "label": "Shadow"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "title_color",
        "label": "Title color",
        "options": [
        	{
            "value": "default",
            "label": "Default"
          },
          {
            "value": "primary",
            "label": "Primary color"
          },
          {
            "value": "alt",
            "label": "Alternative color"
          },
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "gradient",
            "label": "Gradient"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "Title size",
        "options": [
        	{
            "value": "default",
            "label": "Default"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "extra-large",
            "label": "Extra Large"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "subtitle_font",
        "label": "Subtitle font",
        "options": [
        	{
            "value": "default",
            "label": "Default"
          },
          {
            "value": "alt",
            "label": "Alternative"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "title_align",
        "label": "Title align",
        "options": [
        	{
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "image_picker",
        "id": "section_bg_image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color"
      },
      {
        "type": "select",
        "id": "section_border_style",
        "options": [
         {
            "value": "solid",
            "label": "Solid"
          },
         {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "groove",
            "label": "Groove"
          },
          {
            "value": "Ridge",
            "label": "Ridge"
          },
          {
            "value": "inset",
            "label": "Inset"
          },
          {
            "value": "outset",
            "label": "Outset"
          }
        ],
        "label": "Border style",
        "default": "solid"
      },
      {
        "type": "text",
        "id": "section_border",
        "label": "Borders Integer px ( top-right-bottom-left )",
        "info": "0-0-1px-0"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
      {
        "type": "header",
        "content": "== Basel Extras"
      },
      {
        "type": "checkbox",
        "id": "use_parallax",
        "label": "Use Basel parallax?",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Shop",
        "settings": [
            {
               "type": "text",
               "id": "author",
               "label": "Author",
               "info": "shop name",
               "default": "shop's name"
            },
            {
               "type": "text",
               "id": "user_title",
               "label": "Title",
               "info": "shop title",
               "default": "shop title"
            },
            {
              "type": "image_picker",
              "id": "avatar",
              "label": "shop image (300x214)"
            },
            {
               "type": "textarea",
               "id": "quote",
               "label": "Text",
               "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "store information sushi",
        "category": "Store information",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "text"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
