{% if customer.email == "jake.shaw@me.com" or customer.email == "chris@mtnops.com" %}
{% endif %}

{% assign extraEntries = all_products['tiki-island-punch'] %}

<div class="main-page-wrapper maui-hunt-giveaway">

  <div class="mtnops-slim-page-title"><h1>MAUI HUNT EXPERIENCE</h1></div>
  <section class="hunt-hero" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/maui-hunt-experience.jpg?v=1625463264');">
    <div class="hero-overlay">
      <img class="hero-logo" src="https://cdn.shopify.com/s/files/1/2786/4584/files/maui-hunt-experience-title.svg?v=1625463264">
      {% comment %}<img class="entries" src="https://cdn.shopify.com/s/files/1/2786/4584/files/every-order-shop-bars-horz.svg?v=1612474917">{% endcomment %}
      
      {% comment %}<h1>MTN OPS & ELK 101 TRUCK</h1>
      <span class="subtitle">YOUR ELK HUNTING CHARIOT AWAITS</span>
      <a id="play-button" class="play_trigger watch_video2" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Play</a>
    </div>{% endcomment %}
  </section>
  {% comment %}<div class="video_hero_wrap" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/elk101-ueh-bg.jpg?v=1621794990');">
    <video poster="https://cdn.shopify.com/s/files/1/2786/4584/files/UltimateElkHunt-HomePush-BG.jpg?v=1612812228" class="vid_trailer" playsinline autoplay muted loop>
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-video-trailer.mp4?v=1619119781" type="video/mp4">
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-video-trailer.webm?v=1619119781" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-video-trailer.ogv?v=1619119783" type="video/ogg">
    </video>
    <div class="video_hero">
      <img class="hero-logo" src="https://cdn.shopify.com/s/files/1/2786/4584/files/UltimateElkHuntLogo-White.svg?v=1621814865">
      <a id="play-button" class="play_trigger watch_video2" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Play Video</a>
    </div>
   
    <a id="pause-button" class="close_trigger"><i class="fa fa-times" aria-hidden="true"></i>Close</a>

    <div class="video_screen">
      <div id="featured_video"></div>
    </div>
  </div>{% endcomment %}
      
  <section class="hunt-intro-wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hunt-intro">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/win-a-trip-to-maui.svg?v=1625464451">

            <p>Ah yeah!!! Time for another epic hunt experience for someone itching to get off the mainland and hit the hills of Maui in search of some wild game! Maui, Hawaii is not only one of the most beautiful places in the world, it is home to wild axis deer, hogs, and goats that will get your heart pumpin' with adrenaline! We have partnered up with <b>Maui Hunting Safari</b> to give one lucky winner the opportunity to enjoy an incredible, all inclusive, Maui Hunt Experience. With all expenses paid, all you will have to do is worry about keeping those nerves calm when the time comes to take home an axis deer, hog, and/or goat. If that isn't enough to get your heart pumping, maybe the breath-taking views of Maui and the ocean will! We really are super excited for the winner to come hunt with us in Maui.</p>
            <p>Get entered today by shopping on our store, and pick up 10 entries by signing up for our sms program below. You will also receive 20 EXTRA ENTRIES with the purchase of our <b>All-New Tiki Island Punch</b> limited-edition flavor, available in IGNITE, ENDURO, and YETI... while supplies last. Mahalo!</p>

            <h3>HUNT INFORMATION</h3>

            <ul class="hunt-details">
              <li><b>HUNT DATES:</b> JUNE 2022</li>
              <li><b>LOCATION:</b> Maui, Hawaii</li>
              <li><b>HUNT STYLE:</b> LODGING AND FOOD PROVIDED</li>
              <li><b> WEAPON:</b> ARCHERY/RIFLE</li>
            </ul>
            <small>*Hunter will be responsible for meat processing, animal transport and taxidermy.</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="hunt-carousel-wrap">
    <div class="owl-carousel owl-theme" id="owl-carousel-gallery">
      
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/maui-hunt-1.jpg?v=1625463264">
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/maui-hunt-2.jpg?v=1625463264">
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/maui-hunt-3.jpg?v=1625463264">
      </div>
     
    </div>
  </section>

  <section class="ee-section">
    <div class="ee-title">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/tiki-island-entries-title.svg?v=1625465032">
    </div>
    <div class="ee-products">
      {% for v in extraEntries.variants %}
        {% if v.available %}
          <div class="ee-product bg-{{ v.title | handleize }}">
            <img src="{{ v.featured_image | img_url: '800x' }}">
            {% comment %}<h3>{{ v.title }}</h3>{% endcomment %}
            <img class="subtitle" src="{{v.metafields.meta.subtitlesvg}}">

            <a class="add-it-btn add-product-to-cart" data-variant-id="{{v.id}}" href="#">ADD TO CART</a>
            {% comment %}<div>
              <a class="learn-more-btn" href="{{extraEntries.url}}" target="_blank">Learn more</a>
            </div>{% endcomment %}
            {% comment %}<img class="ee-label" src="https://cdn.shopify.com/s/files/1/2786/4584/files/extra-entries-label.svg?v=1612541307">{% endcomment %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  
  <section id="sms-signup" class="sms-signup-wrap giveaway-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="sms-signup-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/sms-signup-10-entries.svg?v=1621789866">
            <div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;"><div><script type="text/javascript" src="https://dhv2ziothpgrr.cloudfront.net/214837/form_42985.js?ver=1621550238"></script></div></div>
        </div>
      </div>
    </div>
  </section>

 {% comment %} <section class="giveaway-details-section">

    <div>
      <img class="product-intro-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/bugle-berry-entries.png?v=1589836096">
      <img class="product-intro-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/ExtraEntriesPerformanceBar.svg?v=1591627589">
      <div class="product-description">

        

        <p>BACK FOR A LIMITED TIME — Harvested from the finest elk woods, our Bugle Berry delivers unparalleled performance and elk-like instincts to help you level the playing field. Show those bugling bulls this September who the real king of the mountain is and fuel up with IGNITE Bugle Berry today!</p>
      </div>

        <div class="product-add-to-cart-wrap">
          <div class="product-meta-wrap">

            <span class="product-price">{{product.price | money}}</span>

            {% if product.available %}
              <a class="ajax_add_to_cart add_to_cart_button" href="#" data-pid="{{ product.variants[0].id }}">Buy Now</a>
            {% endif %}
            {% unless current_variant.available %}
              <div class="out-of-stock-message text--dark">
                <p>Bummer! {{product.title}} is currently out of stock.</p><a class="klaviyo-bis-trigger klaviyo-stock-btn" href="#">Notify Me When Available</a>
              </div>
            {% endunless %}

            
            <div>
              {% unless product.metafields.global.supfacts == blank %}
              {% assign images = product.metafields.global.supfacts | split: ','  %}
              
                <div id="supp-facts" class="iziModal supp-modal custom-modal" data-izimodal-transitionin="fadeInDown">
                  <a data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></a>
                  <div class="supp-facts-gallery">
                    {% for url in images %}
                        {% assign clean url = url | strip %}
                        <div class="item">
                      <img src="{{url}}" />
                        </div>
                    {% endfor %}
                  </div>
                  
                </div>
                <a class="btn-link" data-izimodal-open="#supp-facts" data-izimodal-transitionin="fadeInDown">SUPP FACTS</a>
              
              {% endunless %}

              {% unless product.metafields.global.science == blank %}
                <a class="btn-link" href="{{ product.metafields.global.science }}" target="_blank" >SCIENCE RULES</a>
              {% endunless %}
            </div>

          </div>
        </div>

    </div>

    <div class="featured-image-wrap">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/IGNITE-20Serv-Splash--Bugleberry-1200-tall.png?v=1593405315">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/PerformanceProteinBars-TrifectaSplash-Web.png?v=1591628046">
    </div>

  </section>{% endcomment %}


 {% comment %} <section class="lifestyle-section">
    <img src="">
  </section>{% endcomment %}
      


  <section class="terms-section">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12">

          <div class="buttons-wrap" style="text-align: center;">
            <h3>FINE PRINT AND DETAILS</h3>
            <a href="#" class="btn terms-conditions-trigger">TERMS &amp; CONDITIONS</a>
          </div>

          <div class="terms-conditions-wrap">
            <h2>HUNT TERMS AND CONDITIONS</h2>
            <p>NO PURCHASE NECESSARY TO ENTER OR WIN THIS PROMOTIONAL GIVEAWAY.</p>
            <h3>PRODUCT RETURNS POLICY</h3>
            <p>Items may not be returned during the Hunt promotional period.
            An exchange of product may be accepted. Please contact customer support at <a href="mailto:support@mtnops.com">support@mtnops.com</a>. To be eligible for an exchange, your item must be unused and in the same condition that you received it. It must also be in the original packaging. You will be responsible for paying for your own shipping costs for exchanging your item. Shipping costs are non-refundable.</p>

            <h3>HUNT RULES</h3>

            <p><b>Eligibility To Enter:</b>MAUI HUNTING SAFARI with MTN OPS, LLC (“MTN OPS”) has teamed up for this promotion. This Hunt Promotion (the “Promotion”) is open only to legal residents of the 50 United States and the District of Columbia and Canada* (excluding Quebec), who are 18 years of age or older and located in the U.S. or Canada at the time of entry. Winner must reply to email, text, or phone call within 30 days to claim prize. MTN OPS (“Administrator”) and its respective partners, subsidiaries and affiliated companies, retailers, sales representatives, dealers, distributors, licensees and the advertising, fulfillment, judging and promotion agencies involved in the development and administration of this Promotion and each of their officers, directors, employees and agents (collectively, “Promotion Parties”), and their immediate family members (parent, child, sibling and spouse of each) and those living in the same households of each are not eligible to participate. Void elsewhere and where prohibited by law.</p>

            <p><b>Promotion Period:</b> The Promotion begins at 12:00 a.m. Mountain Standard Time on July 5th and ends at 11:59 p.m. Mountain Standard Time on July 18th, 2021 (the “Promotion Period”).</p>

            <p><b>Covered Expenses:</b> STATE TAG, TRAVEL, FOOD, LODGING.</p>

            <p><b>Hunters Responsibility:</b> Taxidermy, meat cutting service, and shipping of meat, cape, gratuities for the guide, packers, and lodging staff. Personal gear which includes bow and other gear necessary for this hunt.</p>

            <h3>HOW TO ENTER:</h3>
            <p><b>Online Entry:</b> During the Promotion Period, go to the following website: www.mtnops.com (“Website”). Entrants must complete their purchase with all required information, and submit payment (including shipping) to Mtn Ops. You will receive ONE ENTRY for every order that is placed during the Promotional Period.</p>
            <p>Additional Entries may be obtained by completing contact information form found on landing page Mtnops.com/Hunt.></p>
            <p><b>Retail Store Purchase:</b> Not Applicable. The Promotion is limited to orders placed ONLY through MTN OPS Website.</p>
            <p><b>No Purchase necessary, Mail-in Entry:</b> To obtain one entry by mail-in entry, send a postcard or letter in a #10 business envelope with your contact information (first name, last name, home address, phone number, a good email address) and what you would do to pay it forward if you were to win the Maui Hunt Experience! Send your postcard or letter to the following mailing address via First Class U.S. mail to:</p>
            
            <p>MTN OPS LLC<br>
            <b>Attn: MAUI HUNT EXPERIENCE</b><br>
            251 S. Mountain Rd<br>
            Fruit Heights, Utah 84037</p>

            <p>Entry must be postmarked by July 18th, 2021 and received by July 22th, 2021.</p>
            <p><b>Drawing:</b> No purchase of any kind is necessary to enter or win. You have not yet won. On or between July 25th - August 1st, 2021, in Fruit Heights, Utah, the Promotion Administrator will conduct a random drawing from among all eligible entries received during the entire Promotion Period.</p>
            <p>Participants need not be present at the drawing to win. The decisions of the Sponsor are final and binding in all matters relating to this Contest. The potential winner will be notified via e-mail or telephone, at the e-mail or telephone number provided by the participate, on or about August 1st - 10th, 2021. Following the notification, the winner has 30 days to respond to the Sponsor. If the winner does not respond within the 30 day period the prize will be forfeited by the winner and an alternate winner will be drawn, who will also be given 30 days to respond or another alternate winner will be drawn with the same process until a winner is determined.</p>
            <p><b>Giveaway prize, Estimated Retail Value (“ERV”) & Odds of winning:</b> One (1) Grand Prize: (1) Opportunity for individual to buy the prize for $1. No substitution, cash redemption or transfer of prize is permitted except at Administrator’s sole discretion. If prize, or any portion thereof cannot be awarded for any reason, Administrator, in its sole discretion, reserves the right to substitute a prize of equal or greater value. All federal, state, provincial and local taxes, and all other costs associated with acceptance or use of the prize, are the sole responsibility of the winner. Administrator will determine all detail of the Promotion prize including, but not limited to, dates and location. Arrangements for delivery of prize will be made after winner is validated and confirmed.</p>
            <p>Odds of winning this or any other Promotional prize depend on the number of entries received by Administrator. At the discretion of Administrator, unclaimed prizes will result in either a redraw or may not be awarded. Limit: One prize per person or household.
            Promotion General Rules: By participating in this Promotion, you (i) agree to be bound by these official rules, including all eligibility requirements, and (ii) agree to be bound by the decisions of Administrator, which are final and binding in all matters relating to the Promotion. All federal, state and local laws apply. All potential winners (and/or their parent/legal guardian if a minor) will each be notified by telephone, email, or direct message on social media and may be required to show proof of identity. The return of any notification as undeliverable or failure to respond within 14 days to such notices or return any documents in a timely manner or if a potential winner is found to be ineligible or not in compliance with these Official Rules, as determined by the Administrator, may result in disqualification and an alternate winner may be chosen. By participating, participants agree to release, discharge and hold harmless Administrator and Promotion Parties from and against any and all actions, causes of action, suits, debts, dues, sums of money, accounts, reckonings, bonds, bills, specialties, covenants, contracts, controversies, agreements, promises, variances, trespasses, lost profits, indirect or direct damages, consequential damages, incidental damages, punitive or exemplary damages, judgments, extent, executions, claims and demands whatsoever, in law, admiralty or equity, whether known or unknown, foreseen or unforeseen, associated with this Promotion or acceptance, use or misuse of any prize received in this Promotion, including property damage, personal injury, or death. In order to receive the prize, each potential winner will be required to complete an Affidavit of Eligibility and Release of Liability. Promotion Parties are not responsible for any typographical or other error in the printing of the offer or administration of the Promotion or inability to implement the Promotion or award the prizes as contemplated herein due to any event beyond its control, including delays or interruptions caused by acts of God, acts of war, natural disasters, weather, utility outages, acts of terrorism or any federal, state, or local government law, order, or regulation, order of any court or regulator. Acceptance of prize constitutes permission for the Sponsor and its agencies to use winners’ names and likenesses for purposes of advertising and publicity without further compensation, unless prohibited by law. By participating in this Promotion, participants agree to be bound by the Official Rules and decisions of the Administrator, which shall be final in all matters relating to the Promotion. The winner bears all risk of loss or damage. Neither Administrator nor Promotion Parties are responsible for lost, late, misdirected, stolen, illegible, inaccurate, damaged, incomplete, non-delivered or postage-due mail; or for printing, distribution or production errors or for technical, hardware, software, or telephone malfunctions of any kind, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled or delayed electronic communications caused by the user or by any of the equipment or programming associated with or utilized in this Promotion, or by any human, or other error, which may occur in this Promotion. If, in the Administrator’s sole opinion, there is any suspected or actual evidence of tampering with any portion of the Promotion or Website or if technical difficulties compromise the integrity of the Promotion, the Administrator reserves the right to void suspect entries and/or modify and/or terminate the Promotion and/or conduct a random drawing to award the prizes using all known eligible non-suspect entries received. The Administrator reserves the right to disqualify any individual who tampers with the Promotion or Website or acts in a disruptive or unfair manner. In the event of a dispute regarding the identity of the person submitting an entry, entries will be declared by the person’s name submitted at time of entry. Winner is solely responsible for all taxes on prize and other expenses not specifically set forth herein, including but not limited to registration, sales tax, license fees, insurance, and optional equipment, and all other unspecified costs associated with claiming, registering and/or using the corresponding prize. Winners acknowledge the Administrator, Wilderness Quest New Zealand, and the Promotion Parties do not make, nor are in any manner responsible for any warranty, representations, expressed or implied, in fact or in law, relative to the quality, conditions, fitness or merchantability of any aspect of any prize, except that prizes will be subject to the corresponding manufacturer’s stated warranty, if any.</p>
            <p><b>Choice of Law and Jurisdiction:</b> This Promotion is offered only in the United States and Canada (excluding Quebec) and is governed by the laws of the State of Utah. By entering, entrants irrevocably consent to the sole and exclusive jurisdiction of the courts of the State of Utah located in the county of Davis for any action, suit or proceeding arising out of or relating to this Promotion.</p>
            <p><b>Privacy & Security Policy:</b> The personal information collected through this Promotion is subject to Administrator’s Privacy & Security Policy here. By entering this Promotion, you agree to the use of your personal information as described in the above Privacy Policy.</p>
            <p><b>Waiver:</b> Any and all disputes, claims, and causes of action arising out of or in connection with this Promotion, shall be resolved individually, without resort to any form of class action. ANY CLAIMS, JUDGMENTS AND/OR AWARDS SHALL BE LIMITED TO THE ACTUAL OUT-OF-POCKET COSTS ASSOCIATED WITH ENTERING THIS PROMOTION. ENTRANT HEREBY WAIVES ANY RIGHTS OR CLAIMS TO ATTORNEY’S FEES, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ENTRANT, WHETHER FORESEEABLE OR NOT AND WHETHER BASED ON NEGLIGENCE OR OTHERWISE.</p>
            <p><b>Winners’ List:</b> We will announce the winners via email and our social media channels – Winner will receive Grand Prize on or between August 1-10th 2021. All trademarks used herein are the property of their respective owners. Manufacturers of the prizes offered in this Promotion do not sponsor or endorse this Promotion and are not affiliated with the Sponsor or Administrator in any way.</p>
          </div> 

        </div>
      </div>
    </div>
  </section>

</div><!-- .main-page-wrapper -->

{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>{% endcomment %}
<script>
  $(document).ready(function(){
    $("#owl-carousel-gallery").owlCarousel({
      loop: true,
      nav: false,
      dots: false,
      stagePadding: 5,
      margin: 5,
      autoplay: true,
      autoplayTimeout: 4000,
      responsive: {
        0: {
          items: 1
        },
        800: {
          items: 3
        },
      }
    });
  });

  $('.terms-conditions-wrap').hide();
  $('.terms-conditions-trigger').on('click', function(e) {
    e.preventDefault();
    $('.terms-conditions-wrap').slideToggle();
  });

  //gsap.fromTo('.featured-image-wrap img', 2, {scale: 1}, {scale: 1.04, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  
  var cta = $('.add-product-to-cart');
  cta.on('click', function(e) {
    var varId = $(this).data('variant-id');
    e.preventDefault();
    addItToCart(varId, 1);
  });

  function addItToCart(product_id, quantity) {
    data = {
      "quantity": quantity,
      "id": product_id,
      properties: {
        'entries': 'Nice! 20 Maui Hunt entries'
      }
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 

        console.log('adding to cart was a success!');
        $.get('/cart?view=json', function(data) {
          /*optional stuff to do after success */
          $('.widget_shopping_cart_content').html(data);
        }).always(function() {
          baselThemeModule.gl_currency();
          if (window.Shopify && Shopify.StorefrontExpressButtons && nathan_settings.use_additional_checkout_buttons) {Shopify.StorefrontExpressButtons.initialize()}
        });
        $.getJSON('/cart.js', function(cart) {
          $(".cartCount").html(cart.item_count);
          $(".basel-cart-subtotal >span").html(Shopify.formatMoney(cart.total_price, theme.moneyFormat));
        }).always(function() {baselThemeModule.gl_currency() });
        baselThemeModule.addToCart();
      },
      error: function (request, status, error) {
        console.log(request.responseText);
        var code = request.responseJSON.status;

        console.log("<p>" + request.responseJSON.description + "</p>");
      }
    });
  }

  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('featured_video', {
          height: '100%',
          width: '100%',
          videoId: 'YW0VteQrK9Y', // Youtube video ID #
          playerVars: { 'showinfo': 0, 'controls': 1, rel: 0 },
          events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
          }
      });
  }
  function onPlayerReady(event) {
      // bind events
      var playButton =document.querySelector('.play_trigger'); // document.getElementById("play-button"); 

      playButton.addEventListener("click", function(e) {
          e.preventDefault();
          player.playVideo();
          document.querySelector('.video_hero_wrap').className = "video_hero_wrap user_watching";
      });

      var pauseButton = document.querySelector(".close_trigger");
      pauseButton.addEventListener("click", function(e) {
          e.preventDefault();
          document.querySelector('.video_hero_wrap').className = "video_hero_wrap user_paused";
          player.pauseVideo();
          //player.stopVideo();
      });


      document.onkeyup = function keyPress(e) {
          if (e.keyCode == 27) { // escape key maps to keycode `27`
              document.querySelector('.video_hero_wrap').className = "video_hero_wrap";
              player.pauseVideo();
              //player.stopVideo();
          }
      }

  }
  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
      // setTimeout(stopVideo, 6000);
      // done = true;

    //  var specifiedElement = document.querySelector(".video__wrap");

    // document.addEventListener('click', function(event) {
    //   var isClickInside = specifiedElement.contains(event.target);

    //   if (!isClickInside) {
    //    document.querySelector(".video__wrap").className = "video__wrap";
   //        document.querySelector('.banner').className = "banner center page_banner rally-hero dark-overlay-false";
   //        player.pauseVideo();
    //   }
    // });
      }
      if(event.data === 0){
          document.querySelector('.video_hero_wrap').className = "video_hero_wrap";
      }
  }
  function stopVideo() {
      player.stopVideo();
  }
</script>





