{% assign productOffer = all_products['ignite-energy-sampler'] %}
{% unless customer.email contains '@mtnops.com' or customer.email == 'jake.shaw@me.com' %}
{% assign hasPurchased = false %}
{% assign orderNumber = 0 %}
{% for order in customer.orders %}
  {% for line in order.line_items %}
    {% if line.product_id == productOffer.id %}
      {% assign hasPurchased = true %}
      {% assign orderNumber = order.order_number %}
    {% endif %}
  {% endfor %}  
{% endfor %}
{% endunless %}

<div class="main-page-wrapper">

	<div class="ignite-sampler-landing-wrap">
		<div class="mtnops-slim-page-title"><h1>THE ENERGY TO CONQUER YOUR WORKDAY</h1></div>
		<div class="landing-hero">
			
			<div class="hero-overlay">
				{% comment %}<h1 class="pros-label">CALLING ALL <span>INDUSTRY PROFESSIONALS</span></h1>{% endcomment %}
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/best-seller-ignite.svg?v=1612987394">	

			</div>
			<div class="mo-badges">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/MoneyBackGuarantee-Blackout.png?v=1586474113">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/MadeinUSA-Dark.png?v=1586474062">
			</div>
		</div>

		<div class="landing-main-wrap">

			<div class="container">
			  <div class="row">
			    <div class="col-sm-12" role="main">
			    	<div class="landing-main-content">

			    		<div class="layout-switcher">
			    			<div class="floating-kit">
			    				<img src="{{ productOffer.images[0] | img_url: 'master' }}">
			    			</div>
				    		<div class="benefits-callout">
					    		<img class="product-benefits" src="https://cdn.shopify.com/s/files/1/2786/4584/files/ignite-benefits.png?v=1586281149">
					    		<div class="cta-wrap"> 
					    			{% if hasPurchased %}
											<p>Hi there <b>{{customer.first_name}}</b>! Based on your order history, you have already claimed this on order number {{orderNumber}}. Be sure to take advantage of the offer card included with your {{productOffer.title}}!</p>
										{% else %}

						    			{% if productOffer.available %}
							    			<a href="#" class="button mtnops-btn add-sampler-to-cart" data-variant-id="{{ productOffer.variants[0].id }}">ADD TO CART - <span>{{productOffer.price | money_without_trailing_zeros }}</span></a>

							    		{% else %}
							    			<p>{{ productOffer.title }} is currently sold out. Check back soon!</p>
							    		{% endif %}
						    			<div>
						    				<small>*Free Shipping is only offered to shipping addresses located in the lower 48 U.S. states.</small>
						    			</div>
						    		{% endif %}
					    		</div>
					    	</div>
			    		</div>
						</div>
					</div>
		  	</div>
			</div>

			<section class="ignite-graph-bg mtnops-section dark-section">
				<div class="container">
				  <div class="row">
				    <div class="col-sm-12">
				    	<div class="audience-message">
					    	<h2>What is IGNITE?</h2>
					    	<span class="h2-subtitle">MTN OPS' TOP SELLING PRODUCT</span>

					    	<div class="audience-content-block medical-block">

						    	<p><b>OVER 8 HOURS OF ENERGY</b> - Smooth prolonged energy with ZERO crash. Made possible by our industry leading amino acid mixture of L-Arginine and L-Citruline which produces nitric oxide to dilate blood vessels and improve performance.</p>
									<p><b>HYPER-FOCUS & AWARENESS</b> - A result of our Nootropics blend, AKA Ignite Blend, which heightens your senses and ability to hone in and get those long shifts done. It gets the dirty jobs done, and keeps you mentally focus on your task at hand.</p>
									<p><b>IT KEEPS YOU HYDRATED</b> - Caffeine is a known contributor to vasoconstriction, which decreases the flow of oxygenated blood to muscles and organs. It can also be linked to increased HR and BP. With the Nitric Oxide boost in Ignite, your blood vessels will stay dialed and pumping blood to where it needs to go, keeping you hydrated and ready to conquer any admit that comes your way.</p>

								</div>
								<div class="audience-content-block fire-block">

						    	<p><b>OVER 8 HOURS OF ENERGY</b> - Smooth prolonged energy with ZERO crash. Made possible by our industry leading amino acid mixture of L-Arginine and L-Citruline which produces nitric oxide to dilate blood vessels and improve performance.</p>
									<p><b>HYPER-FOCUS & AWARENESS</b> - A result of our Nootropics blend, AKA Ignite Blend, which heightens your senses and ability to hone in and get those long shifts done. It gets the dirty jobs done, and keeps you mentally focus on your task at hand.</p>
									<p><b>IT KEEPS YOU HYDRATED</b> - Caffeine is a known contributor to vasoconstriction, which decreases the flow of oxygenated blood to muscles and organs. It can also be linked to increased HR and BP. With the Nitric Oxide boost in Ignite, your blood vessels will stay dialed and pumping blood to where it needs to go, keeping you hydrated and ready to conquer any blaze that comes your way.</p>

								</div>
								<div class="audience-content-block law-block">

									<p><b>OVER 8 HOURS OF ENERGY</b> - Smooth prolonged energy with ZERO crash. Made possible by our industry leading amino acid mixture of L-Arginine and L-Citruline which produces nitric oxide to dilate blood vessels and improve performance.</p>
									<p><b>HYPER-FOCUS & AWARENESS.</b> - A result of our Nootropics blend, AKA Ignite Blend, which heightens your sense and ability to hone in and get those long shifts done. Stay focused, and serve justice while staying energized.</p>
									<p><b>IT KEEPS YOU HYDRATED</b> - Caffeine is a known contributor to vasoconstriction which decreases the flow of oxygenated blood to muscles and organs. It can also be linked to increased HR and BP. With the Nitric Oxide boost in Ignite, your blood vessels will stay dialed and pumping blood to where it needs to go, keeping you hydrated and ready to take down any perp that comes your way.</p>

								</div>
								<div class="audience-content-block military-block">

									<p><b>OVER 8 HOURS OF ENERGY</b> - Smooth prolonged energy with ZERO crash. Made possible by our industry leading amino acid mixture of L-Arginine and L-Citruline which produces nitric oxide to dilate blood vessels and improve performance.</p>
									<p><b>HYPER-FOCUS & AWARENESS.</b> - A result of our Nootropics blend, AKA Ignite Blend, which heightens your sense and ability to hone in and get those long shifts done. Serve our country while staying mentally focused and energized.</p>
									<p><b>IT KEEPS YOU HYDRATED</b> - Caffeine is a known contributor to vasoconstriction which decreases the flow of oxygenated blood to muscles and organs. It can also be linked to increased HR and BP. With the Nitric Oxide boost in Ignite, your blood vessels will stay dialed and pumping blood to where it needs to go, keeping you hydrated and ready to conquer any obstacle that comes your way.</p>

								</div>

								<div class="audience-content-block guide-block">

									<p><b>OVER 8 HOURS OF ENERGY</b> - Smooth prolonged energy with ZERO crash. Made possible by our industry leading amino acid mixture of L-Arginine and L-Citruline which produces nitric oxide to dilate blood vessels and improve performance.</p>
									<p><b>HYPER-FOCUS & AWARENESS.</b> - A result of our Nootropics blend, AKA Ignite Blend, which heightens your sense and ability to hone in and get those pack-outs done. Chase the bugles, with energy and stay focused when you call in that big bull.</p>
									<p><b>IT KEEPS YOU HYDRATED</b> - Caffeine is known contributor to vasoconstriction which decreases the flow of oxygenated blood to muscles and organs, it can also be linked to increased HR and BP. With the Nitric Oxide boost in Ignite it keeps those vessels dialed and pumping blood to where it needs to go, keeping you hydrated and ready to conquer any peak that comes your way.</p>

								</div>

									<p style="margin-bottom: 50px;"><b>IGNITE™</b> has raised the standard against which all energy drinks are held. Through scientifically formulated blends of Amino acids, L-Citrulline and L-Arginine, and our own proprietary Brain Blend of Nootropics to improve cognitive function, Ignite delivers smooth, long-lasting, jitter-free and great tasting energy and focus for up to 20+ Hours, eliminating the need for unhealthy lunch break visits to the gas station and providing a clean and healthy energy alternative to help you conquer the day.</p>

							</div>

				    	<img class="ignite-graph" src="https://cdn.shopify.com/s/files/1/2786/4584/files/IgniteGraph-Light.png?v=1586290482">
				    </div>
				  </div>
				</div>
			</section>

			<section class="pro-signup-section mtnops-section">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/ProProgramSignup-Dark.png?v=1586296264">

				<p>Our Pro Program is a membership program for qualified first responders, outdoor industry professionals, industry partners, to receive special pricing ranging from 20-40% off MSRP. Membership is by application, is not guaranteed and can be revoked at any time. If you are interested in applying, please sign in with an existing account to start the application or create a new account below.</p>
				<a href="https://mtnops.com/pages/pro" target="_blank" class="mtnops-btn">SIGN UP TODAY</a>
			</section>

			{%- include 'mtnops_collection_sampler' -%}

		  <section class="mtnops-section dark-section">
		  	<h2>MTN OPS CORE VALUES</h2>
				<span class="h2-subtitle">OUR MISSION &amp; PURPOSE</span>
				<p>In everything we do, we improve the lives of individuals and families by inspiring them to achieve their ultimate level of performance through the highest quality energy and nutritional products, backed by science and a community that is both united and supportive of each other, to Conquer More each day.</p>
				<a class="mtnops-btn" href="https://mtnops.com/pages/core-values" target="_blank">LEARN MORE</a>
		  </section>

			{%- include 'mtnops_collection_topsellers' -%}

	  </div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

<script type="text/javascript">

	var queryString = window.location.search,
	urlParams = new URLSearchParams(queryString),
	audience = urlParams.get('utm_term'),
	userFunnel = false;

	{% if customer.email == 'jake.shaw@me.com' %}{% endif %}

	if(audience != null) {
		userFunnel = true;
	}

	if (userFunnel) {
		$('.add-sampler-to-cart span').html('$7.99');
	}

	
	const audienceBg = $('.landing-hero');
	//const proLabel = $('.pros-label span');
	//const audienceImage = $('.main-push-message img');

	if( audience == 'medical' ) {
		//proLabel.html('MEDICAL PROFESSIONALS');
		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/medical-bg.jpg?v=1586214718')");
		$('.audience-message h2').html('From the NOC shifts to doubles');
		$('.audience-message span.h2-subtitle').html('Ignite is here to help, here is how:');
		$('.medical-block').show();

	} else if( audience == 'law' ) {

		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/law-enforcement-bg.jpg?v=1586462079')");
		$('.audience-message h2').html('The thin blue line between a nap, and conquering calls.');
		$('.audience-message span.h2-subtitle').html('Ignite is here to help, here is how:');
		$('.law-block').show();

	} else if( audience == 'fire' ) {

		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/firefighter-bg-cleaned.jpg?v=1587056916')");
		$('.fire-block').show();

	} else if( audience == 'parade' ) { // Farmington Parade QR code link

		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/farmington-parade-bg.jpg?v=1625676546')");
		// $('.audience-message h2').html('From the NOC shifts to doubles');
		// $('.audience-message span.h2-subtitle').html('Ignite is here to help, here is how:');
		// $('.medical-block').show();

	} else if( audience == 'guide' ) {

		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/guide-bg.jpg?v=1586465128')");
		$('.audience-message h2').html('From dusk til dawn');
		$('.audience-message span.h2-subtitle').html('let us help you conquer the mountains with your clients');
		$('.guide-block').show();

	} else if( audience == 'military' ) {

		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/military-bg.jpg?v=1586466130')");
		$('.audience-message h2').html('Thank you for your service.');
		$('.audience-message span.h2-subtitle').html('Stay awake during assignments and drills. Here’s how:');
		$('.military-block').show();

	} else if( audience == 'pinterest' ) {

		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/LIFESTYLE-IN_HOME-06-04.10.20.jpg?v=1588619474')");
		$('.mtnops-slim-page-title h1').html('The Energy to #ConquerMore');

	} else {
		audienceBg.css("background-image", "url('https://cdn.shopify.com/s/files/1/2786/4584/files/colby_kendell-shed_hunt-lifestyle-outdoor-renegade_hoodie-_Q5A3238_1.JPG?v=1554182040')");
		console.log('No specific audience.');
	}

	//setTimeout(function() {
		// $( ".pros-label" ).animate({
	 //    opacity: 1,
	 //  }, 2000, function() {
	    
	 //  });
	//}, 50);

	gsap.fromTo('.floating-kit', 1, {rotation: -3}, {rotation: 3, repeat: -1, yoyo: true, ease: Power1.easeInOut});


  var cta = $('.add-sampler-to-cart');
  //var clicked = false;
  cta.on('click', function(e) {
  	var varId = $(this).data('variant-id');
  	e.preventDefault();
  	//if(clicked == false) {
  		//$(this).html('Adding...');
  		//clicked = true;
  		addSamplerToCart(varId, 1);
  	//}
  });

  function addSamplerToCart(product_id, quantity) {
  	if (userFunnel) {
	    data = {
	      "quantity": quantity,
	      "id": product_id,
				properties: {
					'samplerOffer': 'Enjoy!'
				}
	    }
	  } else {
	  	data = {
	      "quantity": quantity,
	      "id": product_id
	    }
	  }
	  
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        //Cookies.set('freegift', true);
        //$('.update-cart').trigger('click');
        //console.log('Ignite Sampler Kit added to your cart!');

        // $(this).html('');
        // setTimeout(function() {
        // 	cta.hide();
        // 	$('<a href="https://mtnops.com/cart" class="mtnops-btn">VIEW CART</a>').prependTo('.cta-wrap');
        // }, 1000);
        console.log('adding to cart was a success!');
        $.get('/cart?view=json', function(data) {
        	/*optional stuff to do after success */
        	$('.widget_shopping_cart_content').html(data);
  			}).always(function() {
          baselThemeModule.gl_currency();
        	if (window.Shopify && Shopify.StorefrontExpressButtons && nathan_settings.use_additional_checkout_buttons) {Shopify.StorefrontExpressButtons.initialize()}
        });
      	$.getJSON('/cart.js', function(cart) {
        	$(".cartCount").html(cart.item_count);
        	$(".basel-cart-subtotal >span").html(Shopify.formatMoney(cart.total_price, theme.moneyFormat));
      	}).always(function() {baselThemeModule.gl_currency() });
      	baselThemeModule.addToCart();
      },
      error: function (request, status, error) {
        console.log(request.responseText);
        var code = request.responseJSON.status;

        console.log("<p>" + request.responseJSON.description + "</p>");
      }
    });
  }

</script>



