{% if customer.email == "jake.shaw@me.com" or customer.email == "chris@mtnops.com" %}

{% endif %}


{% assign extraEntries = all_products['crush-pineapple-ignite'] %}

<div class="main-page-wrapper keep-hammering-truck-page">

	<div class="mtnops-slim-page-title"><h1>THE KEEP HAMMERING TRUCK COULD BE YOURS</h1></div>

  <div class="video_hero_wrap">
    <video poster="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-main.jpg?v=1619119055" class="vid_trailer" playsinline autoplay muted loop>
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-video-trailer.mp4?v=1619119781" type="video/mp4">
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-video-trailer.webm?v=1619119781" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-video-trailer.ogv?v=1619119783" type="video/ogg">
    </video>
    <div class="video_hero">
      <img class="hero-logo" src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-logo2.svg?v=1619397987">
      <a id="play-button" class="play_trigger watch_video2" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Play Video</a>
    </div>
   
    <a id="pause-button" class="close_trigger"><i class="fa fa-times" aria-hidden="true"></i>Close</a>

    <div class="video_screen">
      <div id="featured_video"></div>
    </div>
  </div>
	    
  <section class="truck-intro-wrap giveaway-section" style="margin: 0;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="truck-intro">

            <div class="giveaway-section-title">
              <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/win-cams-truck.svg?v=1619134405">
            </div>

            <p>Ladies and gents, all of us here at MTN OPS are super excited to announce that we are giving away a truck! But not just any truck. Oh no. This is <b>Cameron Hanes' 2016 Ram Diesel Truck!</b> Ever heard of him? "Nobody cares", you say? Weird, since that's what he says! Although... come to think of it... someone still needs to let him know his truck is being given away... he might actually care a little bit about that &#128540;</p>
            <p><b>Here is how it can be yours...</b> We thought about giving it away to someone who could run a 100 mile race faster and with more hammering capabilities than him, but we actually do want to end up giving this thing away! So, all orders placed on mtnops.com will enter you to win the truck. No running required! And if you are into running, you can score up to an additional <b>100 Extra Entries</b> for the Truck by signing up for the Cam Hanes Virtual Series Run!</p>

            <p>Cam's truck is amazing, and we can't wait to see one lucky someone driving away with it! It really could be you. Like we have said before, the only thing for certain is if you don't enter, you for sure won't win. So, get entered today. Good luck!</p>
            
            <a href="/collections/energy-performance" class="mtnops-btn">SHOP SUPPS</a>
            <a href="/collections/gear" class="mtnops-btn">SHOP GEAR</a>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="truck-entries-wrap" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/kh-grunge-bg.jpg?v=1619041002');">
    <div class="truck-entry-options">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img class="image-show-desktop" src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-multi-ways-to-enter-desk.svg?v=1619041019">
            <img class="image-show-mobile" src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-multi-ways-to-enter-mobile.svg?v=1619042968">
          </div>
        </div>
      </div>
    </div>
    <img class="truck-image-overlay" src="https://cdn.shopify.com/s/files/1/2786/4584/files/ch-kh-truck-overlay-updated.png?v=1628106064">
  </section>
  
  <section class="hunt-carousel-wrap">
    <div class="owl-carousel owl-theme truck-slider" id="truck-slider">

      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-1.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-2.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-3.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-4.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-5.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-6.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-7.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-8.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-9.jpg?v=1628106603">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-gallery-updated-10.jpg?v=1628106603">
      </div>
      
    </div>
  </section>

  <section class="kh-product-line-wrap giveaway-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="giveaway-section-title">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/kh-title-25-entries.svg?v=1619131482">
          </div>
          <div class="kh-product-line">

            <div class="collection-products">
              {% for product in collections['keep-hammering-line'].products %}
                {% unless product.title contains 'SYSTEM' %}
                {% if product.variants.size > 1 %}
                  <a class="product-wrap" href="{{product.url}}" target="_blank">
                {% else %}
                  <a class="product-wrap add-collection-item-to-cart bg-color-{{product.title | remove: 'KEEP HAMMERING' | handleize }}" data-variant-id="{{product.variants[0].id}}">
                {% endif %}

                    <img src="{{ product | img_url: '600x' }}">
                    <h3>{{ product.title }}</h3>
                    <span>{{ product.metafields.meta.subtitle }}</span>
                    {% comment %}<div>{{ product.price  | money }}</div>
                    {% if product.compare_at_price != blank %}
                      <div>{{ product.compare_at_price  | money }}</div>
                    {% endif %}{% endcomment %}
                    {% comment %}<div class="swatches-wrap">
                      {% for color in product.options_by_name['Flavor'].values %}
                        <div class="bg_color bg_color_{{ color | handleize }}"></div>
                      {% endfor %}
                    </div>{% endcomment %}
                    <div class="available-flavors">
                      {% for var in product.variants %}
                        {% if var.id == 14579134922794 %}
                          Blue Raspberry
                        {% else %}
                          {% if var.title != 'Default Title' %}
                          {{ var.title }}{% unless forloop.last %},{% endunless %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% if product.available %}
                      {% if product.variants.size > 1 %}
                        <button class="mtnops-btn-sm">SHOP NOW</button>
                      {% else %}
                        <button class="mtnops-btn-sm add-collection-item-to-cart">ADD TO CART</button>
                      {% endif %}
                    {% else %}
                      <p>Fiddle sticks! <b>Out of Stock.</b></p>
                    {% endif %}
                  </a> 

                {% endunless %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

   <section class="cta-section" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/cam-hanes-virtual-series-running.jpg?v=1619120561');">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="cta-wrap">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/KeepHammeringVirtualSeries-Logo-White.svg?v=1616531314">
            <a href="/pages/virtual-series" class="mtnops-btn">SIGN UP TODAY!</a>
            <img class="extra-entries" src="https://cdn.shopify.com/s/files/1/2786/4584/files/virtual-series-kh-extra-entries.svg?v=1619126585">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="boundary-limit-section giveaway-section">
    <div class="boundary-breakout">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/KeepHammeringTruck-FrontDirt.png?v=1619132709">
    </div>
  </section>
  {% comment %}<section class="lifestyle-section">
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/cam-hanes-virtual-series-running.jpg?v=1619120561">
  </section>{% endcomment %}

  {% comment %}<section id="buy-now" class="ee-section">
  	<div class="ee-section-inner">
	  	<div class="ee-content">
	  			<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/crush-hunt-limitededition-ignite.png?v=1614885181">

	  			{% if extraEntries.available %}
						<a class="add-it-btn add-product-to-cart" data-variant-id="{{extraEntries.variants[0].id}}" href="#">ADD TO CART</a>
						<div>
			  			<a class="learn-more-btn" href="{{extraEntries.url}}" target="_blank">Learn more</a>
			  		</div>
		  		{% else %}
            <p class="bummer-dude-message">Bummer. {{extraEntries.title}} is <b>Out of Stock</b>. More are on the way though!</p>
          {% endif %}
	  			
	  	</div>
	  	<div class="ee-product">
				<img class="ee-label" src="https://cdn.shopify.com/s/files/1/2786/4584/files/extra-entries-label.svg?v=1612541307">
				<img src="{{ extraEntries.featured_image | img_url: '600x' }}">
				
		  </div>
		</div>
  </section>{% endcomment %}
  

 {% comment %} <section class="giveaway-details-section">

    <div>
      <img class="product-intro-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/bugle-berry-entries.png?v=1589836096">
      <img class="product-intro-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/ExtraEntriesPerformanceBar.svg?v=1591627589">
      <div class="product-description">

        

        <p>BACK FOR A LIMITED TIME — Harvested from the finest elk woods, our Bugle Berry delivers unparalleled performance and elk-like instincts to help you level the playing field. Show those bugling bulls this September who the real king of the mountain is and fuel up with IGNITE Bugle Berry today!</p>
      </div>

        <div class="product-add-to-cart-wrap">
          <div class="product-meta-wrap">

            <span class="product-price">{{product.price | money}}</span>

            {% if product.available %}
              <a class="ajax_add_to_cart add_to_cart_button" href="#" data-pid="{{ product.variants[0].id }}">Buy Now</a>
            {% endif %}
            {% unless current_variant.available %}
              <div class="out-of-stock-message text--dark">
                <p>Bummer! {{product.title}} is currently out of stock.</p><a class="klaviyo-bis-trigger klaviyo-stock-btn" href="#">Notify Me When Available</a>
              </div>
            {% endunless %}

            
            <div>
              {% unless product.metafields.global.supfacts == blank %}
              {% assign images = product.metafields.global.supfacts | split: ','  %}
              
                <div id="supp-facts" class="iziModal supp-modal custom-modal" data-izimodal-transitionin="fadeInDown">
                  <a data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></a>
                  <div class="supp-facts-gallery">
                    {% for url in images %}
                        {% assign clean url = url | strip %}
                        <div class="item">
                      <img src="{{url}}" />
                        </div>
                    {% endfor %}
                  </div>
                  
                </div>
                <a class="btn-link" data-izimodal-open="#supp-facts" data-izimodal-transitionin="fadeInDown">SUPP FACTS</a>
              
              {% endunless %}

              {% unless product.metafields.global.science == blank %}
                <a class="btn-link" href="{{ product.metafields.global.science }}" target="_blank" >SCIENCE RULES</a>
              {% endunless %}
            </div>

          </div>
        </div>

    </div>

    <div class="featured-image-wrap">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/IGNITE-20Serv-Splash--Bugleberry-1200-tall.png?v=1593405315">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/PerformanceProteinBars-TrifectaSplash-Web.png?v=1591628046">
    </div>

  </section>{% endcomment %}

  
  
  {% comment %}<section class="outfitter-section" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/elk-movement.jpg?v=1612481226');">
  	<a href="https://wildcountryoutfitters.com/" target="_blank">
	  	<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guided-by-wco.svg?v=1612820857">
	  </a>
  </section>
{% endcomment %}
 
      

  {% comment %}<section id="sms-signup" class="sms-signup-wrap">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12">
  				<img class="sms-signup-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/crush-hunt-extraentries-sms-title.svg?v=1614885181">
          <div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;"><div><script  type="text/javascript" src="https://dhv2ziothpgrr.cloudfront.net/214837/form_35494.js?ver=1614714140"></script></div></div>
          </div>
  			</div>
  		</div>
  	</div>
  </section>{% endcomment %}

  <section class="terms-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="buttons-wrap">
            <a href="#" class="btn terms-conditions-trigger">TERMS &amp; CONDITIONS</a>
          </div>

          <div class="terms-conditions-wrap">
            <header>
              <h3>TRUCK TERMS AND CONDITIONS</h3>
              <p>NO PURCHASE NECESSARY TO ENTER OR WIN THIS PROMOTIONAL GIVEAWAY.</p>
            </header>
            <h4>TRUCK RETURNS POLICY</h4>
            <p>Items may not be returned during the Truck promotional period.</p>

            <p>An exchange of product may be accepted. Please contact customer support at support@mtnops.com. To be eligible for an exchange, your item must be unused and in the same condition that you received it. It must also be in the original packaging. You will be responsible for paying for your own shipping costs for exchanging your item. Shipping costs are non-refundable.</p>

            <h4>TRUCK RULES</h4>

            <p>Eligibility To Enter: Cameron Hanes has partnered with MTN OPS, LLC (“MTN OPS”) for this promotion. This Truck Promotion (the “Promotion”) is open only to legal residents of the 50 United States and the District of Columbia and Canada* (excluding Quebec), who are 18 years of age or older and located in the U.S. or Canada at the time of entry. MTN OPS (“Administrator”) and its respective partners, subsidiaries and affiliated companies, retailers, sales representatives, dealers, distributors, licensees and the advertising, fulfillment, judging and promotion agencies involved in the development and administration of this Promotion and each of their officers, directors, employees and agents (collectively, “Promotion Parties”), and their immediate family members (parent, child, sibling and spouse of each) and those living in the same households of each are not eligible to participate. Void elsewhere and where prohibited by law.</p>

            <p>Promotion Period: The Promotion begins at 12:00 a.m. Mountain Standard Time on April 26th, 2021 and ends at 11:59 p.m. Mountain Standard Time on August 21st, 2021 (the “Promotion Period”). This may change without notice and at anytime.</p>

            <h4>HOW TO ENTER:</h4>

            <p>Online Entry: During the Promotion Period, go to the following website: www.mtnops.com (“Website”) and purchase one or more products during the Promotion Period (“Purchase Entry”). Entrants must complete their purchase with all required information, and submit payment (including shipping) to Mtn Ops. You will receive ONE ENTRY FOR EVERY $5 dollars spent on qualifying Purchases. </p>

            <p>Retail Store Purchase: During the Promotion Period, go to one of our MTN OPS official dealers and purchase one or more products during the Promotion Period (“Purchase Entry”). ONE ENTRY FOR EVERY $5 dollars spent during Purchase Entry. After purchase, click here to complete the form with all required information. Entrant must then mail official purchase receipt, or copy, to the following address:</p>

            <p>MTN OPS LLC<br>
            251 S. Mountain Rd<br>
            Fruit Heights, Utah 84037</p>

            <p>By entering via online or through a dealer, you consent to receive email announcements from MTN OPS, in accordance with its Privacy Policy, available here.</p>

            <p>No Purchase necessary, Mail-in Entry: To obtain one entry by mail-in entry, send a postcard or letter in a #10 business envelope with your contact information (first name, last name, home address, phone number, a good email address) and what you would do to pay it forward if you were to win the KEEP HAMMERING TRUCK! Send your postcard or letter to the following mailing address via First Class U.S. mail to:</p>

            <p>MTN OPS LLC<br>
            Attn: Keep Hammering Truck Entry<br>
            251 S. Mountain Rd<br>
            Fruit Heights, Utah 84037</p>

            <p>Entry must be postmarked by August 1st, 2021 and received by August 22nd, 2021.</p>

            <p>Drawing: No purchase of any kind is necessary to enter or win. You have not yet won. On or between August 23rd, 2021 - September 10th, 2021, in Fruit Heights, Utah, the Promotion Administrator will conduct a random drawing from among all eligible entries received during the entire Promotion Period.</p>

            <p>Giveaway prize, Estimated Retail Value (“ERV”) & Odds of winning: One (1) Grand Prize: (1) Opportunity for individual to buy the prize for $1. No substitution, cash redemption or transfer of prize is permitted except at Administrator’s sole discretion. If prize, or any portion thereof cannot be awarded for any reason, Administrator, in its sole discretion, reserves the right to substitute a prize of equal or greater value. All federal, state, provincial and local taxes, and all other costs associated with acceptance or use of the prize, are the sole responsibility of the winner. Administrator will determine all detail of the Promotion prize including, but not limited to, dates and location. Arrangements for delivery of prize will be made after winner is validated and confirmed.</p>

            <p>Odds of winning this or any other Promotional prize depend on the number of entries received by Administrator. At the discretion of Administrator, unclaimed prizes will result in either a redraw or may not be awarded. Limit: One prize per person or household.</p>

            <p>Promotion General Rules: By participating in this Promotion, you (i) agree to be bound by these official rules, including all eligibility requirements, and (ii) agree to be bound by the decisions of Administrator, which are final and binding in all matters relating to the Promotion. All federal, state and local laws apply. All potential winners (and/or their parent/legal guardian if a minor) will each be notified by telephone, email, or direct message on social media and may be required to show proof of identity. The return of any notification as undeliverable or failure to respond within 14 days to such notices or return any documents in a timely manner or if a potential winner is found to be ineligible or not in compliance with these Official Rules, as determined by the Administrator, may result in disqualification and an alternate winner may be chosen. By participating, participants agree to release, discharge and hold harmless Administrator and Promotion Parties from and against any and all actions, causes of action, suits, debts, dues, sums of money, accounts, reckonings, bonds, bills, specialties, covenants, contracts, controversies, agreements, promises, variances, trespasses, lost profits, indirect or direct damages, consequential damages, incidental damages, punitive or exemplary damages, judgments, extent, executions, claims and demands whatsoever, in law, admiralty or equity, whether known or unknown, foreseen or unforeseen, associated with this Promotion or acceptance, use or misuse of any prize received in this Promotion, including property damage, personal injury, or death. In order to receive the prize, each potential winner will be required to complete an Affidavit of Eligibility and Release of Liability. Promotion Parties are not responsible for any typographical or other error in the printing of the offer or administration of the Promotion or inability to implement the Promotion or award the prizes as contemplated herein due to any event beyond its control, including delays or interruptions caused by acts of God, acts of war, natural disasters, weather, utility outages, acts of terrorism or any federal, state, or local government law, order, or regulation, order of any court or regulator. Acceptance of prize constitutes permission for the Sponsor and its agencies to use winners’ names and likenesses for purposes of advertising and publicity without further compensation, unless prohibited by law. By participating in this Promotion, participants agree to be bound by the Official Rules and decisions of the Administrator, which shall be final in all matters relating to the Promotion. The winner bears all risk of loss or damage. Neither Administratory nor Promotion Parties are responsible for lost, late, misdirected, stolen, illegible, inaccurate, damaged, incomplete, non-delivered or postage-due mail; or for printing, distribution or production errors or for technical, hardware, software, or telephone malfunctions of any kind, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled or delayed electronic communications caused by the user or by any of the equipment or programming associated with or utilized in this Promotion, or by any human, or other error, which may occur in this Promotion. If, in the Administrator’s sole opinion, there is any suspected or actual evidence of tampering with any portion of the Promotion or Website or if technical difficulties compromise the integrity of the Promotion, the Administrator reserves the right to void suspect entries and/or modify and/or terminate the Promotion and/or conduct a random drawing to award the prizes using all known eligible non-suspect entries received. The Administrator reserves the right to disqualify any individual who tampers with the Promotion or Website or acts in a disruptive or unfair manner. In the event of a dispute regarding the identity of the person submitting an entry, entries will be declared by the person’s name submitted at time of entry. Winner is solely responsible for all taxes on prize and other expenses not specifically set forth herein, including but not limited to registration, sales tax, license fees, insurance, and optional equipment, and all other unspecified costs associated with claiming, registering and/or using the corresponding prize. Winners acknowledge the Administrator, MTN OPS, and the Promotion Parties do not make, nor are in any manner responsible for any warranty, representations, expressed or implied, in fact or in law, relative to the quality, conditions, fitness or merchantability of any aspect of any prize, except that prizes will be subject to the corresponding manufacturer’s stated warranty, if any.</p>

            <p>Choice of Law and Jurisdiction: This Promotion is offered only in the United States and Canada (excluding Quebec) and is governed by the laws of the State of Utah. By entering, entrants irrevocably consent to the sole and exclusive jurisdiction of the courts of the State of Utah located in the county of Davis for any action, suit or proceeding arising out of or relating to this Promotion.</p>

            <p>Privacy & Security Policy: The personal information collected through this Promotion is subject to Administrator’s Privacy & Security Policy here. By entering this Promotion, you agree to the use of your personal information as described in the above Privacy Policy.</p>

            <p>Waiver: Any and all disputes, claims, and causes of action arising out of or in connection with this Promotion, shall be resolved individually, without resort to any form of class action. ANY CLAIMS, JUDGMENTS AND/OR AWARDS SHALL BE LIMITED TO THE ACTUAL OUT-OF-POCKET COSTS ASSOCIATED WITH ENTERING THIS PROMOTION. ENTRANT HEREBY WAIVES ANY RIGHTS OR CLAIMS TO ATTORNEY’S FEES, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ENTRANT, WHETHER FORESEEABLE OR NOT AND WHETHER BASED ON NEGLIGENCE OR OTHERWISE.</p>

            <p>Winners’ List: We will announce the winners via email and our social media channels – Winner will receive Grand Prize on or between September 1st – October 31, 2021. Must be willing to travel to pick up the truck at MTN OPS headquarters, Fruit Height, Utah. Travel to pick up and take home the truck is not covered in the grand prize. Winner will be responsible for their own travel and expenses.</p>

            <p>All trademarks used herein are the property of their respective owners. Manufacturers of the prizes offered in this Promotion do not sponsor or endorse this Promotion and are not affiliated with the Sponsor or Administrator in any way.</p>
          </div> 

        </div>
      </div>
    </div>
  </section>

</div><!-- .main-page-wrapper -->

{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>{% endcomment %}
<script>
  $(document).ready(function(){
    $("#truck-slider").owlCarousel({
      loop: true,
      nav: false,
      dots: false,
      stagePadding: 5,
      margin: 5,
      autoplay: true,
      autoplayTimeout: 4000,
      responsive: {
        0: {
          items: 2
        },
        700: {
          items: 3
        },
        900: {
          items: 4
        }
      }
    });
  });

  $('.terms-conditions-wrap').hide();
  $('.terms-conditions-trigger').on('click', function(e) {
    e.preventDefault();
    $('.terms-conditions-wrap').slideToggle();
  });

  //gsap.fromTo('.featured-image-wrap img', 2, {scale: 1}, {scale: 1.04, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  
  var cta = $('.add-collection-item-to-cart');
  cta.on('click', function(e) {
  	var varId = $(this).data('variant-id');
  	e.preventDefault();
  	addItToCart(varId, 1);
  });

  function addItToCart(product_id, quantity) {
    data = {
      "quantity": quantity,
      "id": product_id,
			properties: {
				'entries': '25 Entries are yours!'
			}
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 

        console.log('adding to cart was a success!');
        $.get('/cart?view=json', function(data) {
        	/*optional stuff to do after success */
        	$('.widget_shopping_cart_content').html(data);
  			}).always(function() {
          baselThemeModule.gl_currency();
        	if (window.Shopify && Shopify.StorefrontExpressButtons && nathan_settings.use_additional_checkout_buttons) {Shopify.StorefrontExpressButtons.initialize()}
        });
      	$.getJSON('/cart.js', function(cart) {
        	$(".cartCount").html(cart.item_count);
        	$(".basel-cart-subtotal >span").html(Shopify.formatMoney(cart.total_price, theme.moneyFormat));
      	}).always(function() {baselThemeModule.gl_currency() });
      	baselThemeModule.addToCart();
      },
      error: function (request, status, error) {
        console.log(request.responseText);
        var code = request.responseJSON.status;

        console.log("<p>" + request.responseJSON.description + "</p>");
      }
    });
  }




  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('featured_video', {
          height: '100%',
          width: '100%',
          videoId: 'g3eIGIKVArE', // Youtube video ID #
          playerVars: { 'showinfo': 0, 'controls': 1, rel: 0 },
          events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
          }
      });
  }
  function onPlayerReady(event) {
      // bind events
      var playButton =document.querySelector('.play_trigger'); // document.getElementById("play-button"); 

      playButton.addEventListener("click", function(e) {
          e.preventDefault();
          player.playVideo();
          document.querySelector('.video_hero_wrap').className = "video_hero_wrap user_watching";
      });

      var pauseButton = document.querySelector(".close_trigger");
      pauseButton.addEventListener("click", function(e) {
          e.preventDefault();
          document.querySelector('.video_hero_wrap').className = "video_hero_wrap user_paused";
          player.pauseVideo();
          //player.stopVideo();
      });


      document.onkeyup = function keyPress(e) {
          if (e.keyCode == 27) { // escape key maps to keycode `27`
              document.querySelector('.video_hero_wrap').className = "video_hero_wrap";
              player.pauseVideo();
              //player.stopVideo();
          }
      }

  }
  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
      // setTimeout(stopVideo, 6000);
      // done = true;

    //  var specifiedElement = document.querySelector(".video__wrap");

    // document.addEventListener('click', function(event) {
    //   var isClickInside = specifiedElement.contains(event.target);

    //   if (!isClickInside) {
    //    document.querySelector(".video__wrap").className = "video__wrap";
   //        document.querySelector('.banner').className = "banner center page_banner rally-hero dark-overlay-false";
   //        player.pauseVideo();
    //   }
    // });
      }
      if(event.data === 0){
          document.querySelector('.video_hero_wrap').className = "video_hero_wrap";
      }
  }
  function stopVideo() {
      player.stopVideo();
  }
</script>




