
<div class="main-page-wrapper">
	<div class="mtnops-slim-page-title"><h1>CONQUER FITNESS TRAINING</h1></div>

	{% comment %}<div id="consultation-prompt" class="iziModal custom-modal">
	  <div data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></div>
	  <div class="consultation-modal-wrap">
		  <h1>MAKE YOUR GOALS A REALITY</h1>
			<h2>TALK WITH A MTN OPS CERTIFIED COACH</h2>
			<p>MTN OPS Health & Fitness Specialists are certified individuals trained to help personalize your health journey. From Macro breakdowns, meal plans and training programs, you'll be blown away with the value and education you receive. On average, individuals have lost 10lbs in their first month!</p>
			<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/consult-icons-combined.png?v=1578595165">
			<div class="consult-pricing">
				<span class="slashed">$69.95</span>
				<span class="sale-price">$34.95</span>
				<p>SAVE 50% FOR A LIMITED TIME</p>
			</div>
			<a href="https://mtnops-coaching.youcanbook.me/" class="mtnops-btn" target="_blank">SCHEDULE CONSULTATION</a>
		</div>
	</div>{% endcomment %}



	
	<section class="cf_hero_wrap training_hero_wrap" style="background-image:url('https://cdn.shopify.com/s/files/1/2786/4584/files/cf-main-background.jpg?v=1609699787');">

	    <div class="cf-overview">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12">
						<div class="cf-logo">
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/cf-training-logo.svg?v=1609478981">
						</div>
						
						<a id="play-button" class="watch_intro" href="#">
					        Play Video <i class="fa fa-play-circle" aria-hidden="true"></i>
					    </a>
						<p>The Conquer Fitness Programs were developed to help you CONQUER MORE. From training to meal plans, fitness challenges and more - our goal is to empower you with the tools you need to take your training, health and results to a whole new level. Let's get it.</p>
					</div>
				</div>
				{% comment %}<div class="overview-items owl-carousel">
					<div class="overview-item">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/overview-training.jpg?v=1576800186">
						<h5>Training Programs</h5>
						<span>Goal specific programs you can do at home or in the gym</span>
					</div>
					<div class="overview-item">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/overview-meal-lans.jpg?v=1576800186">
						<h5>Meal Plans</h5>
						<span>Weight Specific Meal plans to drive results and Improve Diet</span>
					</div>
					<div class="overview-item">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/overview-challenge.jpg?v=1576800186">
						<h5>Fitness Challenges</h5>
						<span>Join and commit to conquer your fitness goals this year</span>
					</div>
				</div>{% endcomment %}
			</div>
		</div>


		<div class="intro_video_screen">
			<div class="video-container">
		        <div id="featured_video"></div>
		    </div>
	    </div>

	    <a id="pause-button" class="close_trigger"><i class="fa fa-times" aria-hidden="true"></i></a>
	</section>





	<section id="calculator" class="calculator-section cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
					<h2>Not sure where to start?</h2>
					<h3>Try out our free calorie calculator today</h3>
						<p>We understand that just getting started and knowing where to begin can sometimes be the hardest part. That is why we created a Free Calorie Calculator to help guide you. This calculator is a straight forward and simple way to take the next step towards reaching your health goals. Simply fill out the data fields and we'll provide you with recommendations on meal plans and training programs to help kickstart your health and fitness journey.</p>
						<a href="" class="mtnops-btn prompt-calc">USE CALCULATOR</a>
					</header>

					<div class="calorie-calculator-wrap">
						<a data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></a>
						<h3>Calorie Calculator</h3>
						<p>This calculator is a straight forward and simple way to take the next step towards reaching your health goals. Simply fill out the data fields and we'll provide you with recommendations on meal plans and training programs to help kickstart your health and fitness journey.</p>
						<form id="calorie-calculator" class="klaviyo_gdpr_embed_K7vtiC" name="calorieForm" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
							<input type="hidden" name="g" value="K7vtiC">
						    <input type="hidden" name="$fields" value="$first_name,$last_name,age,gender,weight,goal_weight,fitness_goal,recommended_calories,recommended_meal_plan"/>
						    <div class="klaviyo_field_group">
						    	<div class="user-first-name">
									<label for="$first_name">First Name</label>
						      		<input type="text" value="" name="$first_name" id="first_name" placeholder="Your First Name" />
								</div>
								<div class="user-last-name">
									<label for="$first_name">Last Name</label>
						      		<input type="text" value="" name="$last_name" id="last_name" placeholder="Your Last Name" />
								</div>
								<div class="user-email">
									<label for="k_id_email">Your Email</label>
						      		<input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
								</div>
								<div class="user-gender">
									<label>Male
										<input id="male" type="radio" name="gender" value="male">
									</label>
									<label>Female
										<input id="female" type="radio" name="gender" value="female">
									</label>
								</div>
								<div class="user-age">
									<label>Age</label>
									<input id="age" type="number" name="age" inputmode="numeric" pattern="[0-9]*" required>
								</div>
								<div class="user-height">
									<label>Height (in inches)</label>
									<input id="height" type="number" name="height" inputmode="numeric" pattern="[0-9]*" required>
								</div>
								<div class="user-weight">
									<label>Weight (in pounds)</label>
									<input id="weight" type="number" name="weight" placeholder="Enter your weight in lbs" inputmode="numeric" pattern="[0-9]*" required>
								</div>
								<div class="user-goal-weight">
									<label>Goal Weight (in pounds)</label>
									<input id="goalWeight" type="number" name="goal_weight" placeholder="Enter your goal weight in lbs" inputmode="numeric" pattern="[0-9]*" required>
								</div>
								<div class="user-job-strain">
									<label>Job Strain? <a class="trigger-tooltip">What's this?</a></label>
									<div class="strain-tooltip">*Job 'Strain' simply refers to how active you are throughout the day. Light usually means you aren't currently physically active and spend the majority of your day at a desk. Moderate is assuming you're physically active or work a job that's hands on and asks more of your body each day. Heavy would assume that you're always on the move and live a very active lifestyle between frequent gym visits and an active job that requires you to always be on the go.</div>
									<select name="strain">
										<option>Select Strain</option>
										<option value="light">Light</option>
										<option value="moderate">Moderate</option>
										<option value="heavy">Heavy</option>
									</select>
								</div>
								<div class="user-consent">
									<label>
										<input id="consent" type="checkbox" name="consent">
										I agree to recieving emails from MTN OPS
									</label>
								</div>
								<div>
									<input id="klaviyo_form_fitness_goal" type="hidden" name="fitness_goal" value="" />
									<input id="klaviyo_form_recommended_calories" type="hidden" name="recommended_calories" value="" />
									<input id="klaviyo_form_recommended_meal_plan" type="hidden" name="recommended_meal_plan" value="" />
								</div>
							</div>
							<div class="klaviyo_form_actions">
								<input id="form-submit" class="klaviyo_submit_button" type="submit" value="Calculate">
							</div>
						</form>
						<div class="success-message">

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

{% comment %}{% if customer.email == "jake.shaw@me.com" %}{% endif %}{% endcomment %}

	{% include 'mtnops_consultation_section' %}

	<section id="fitness-programs" class="programs-section cf-part-section black-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<h2 class="style-as-h4">Fitness Programs</h2>
						<p>These programs have been developed to give you a great starting point on your fitness journey. We are fully confident that if you follow these programs, fuel your body with healthy foods, and use our products, you will acheive your fitness goals of getting fit, stronger, faster, thinner, mentally happier, etc. Whatever your goal may be, consistency is the key to your success.</p>
					</header>
				</div>
			</div>
			<div class="row">
				{% for article in blogs.fitness.articles %}
					<div class="col-xs-12 col-md-6 col-lg-4 fitness-program {% for tag in article.tags %}{{ tag | handleize | prepend: 'program-' | append: ' ' }}{% endfor %}">
						<a href="{{ article.url }}" style="background-image: url('{{ article.image.src | img_url: '1000x' }}');">
							<h4>{{ article.title }}</h4>
							{% comment %}<p>{{ article.content | strip_html | strip_newlines | truncate: 90 }}</p>{% endcomment %}
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
	<section class="systems-section cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<h2>SYSTEMS THAT SUPPORT YOUR HARD WORK</h2>
						<p>No matter your fitness goals, MTN OPS offers a variety of healthy products to support the hard work you are putting your body through. Check out these systems and maximize your results.</p>
						{% comment %}<p>Accountability is an essential part of reaching our goals. Talk 1 on 1 with one of our Conquer Fitness Specialists to create a personalized plan specific to your needs and health goals.</p>{% endcomment %}
						{% comment %}<a href="//mtnops.com/collections/systems" class="btn mtnops-btn">Shop Systems</a>{% endcomment %}
					</header>

					{% include 'mtnops_systems_section' %}
				</div>
				{% comment %}<div class="mtnops-systems-carousel owl-carousel">
					<div class="mtnops-system">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/products/ConquerWeightLossCombo-BottlewSplash-1200_1080x.png?v=1566235411">
						<h3>Weight Loss System</h3>
						<a href="https://mtnops.com/products/weight-loss-system" class="buy-now-btn" target="_blank">Buy Now</a>
					</div>
					<div class="mtnops-system">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/products/ConquerStrengthCombo-SplashwBottle-1200@2x.png?v=1566334160">
						<h3>Strength System</h3>
						<a href="https://mtnops.com/products/strength-system" class="buy-now-btn" target="_blank">Buy Now</a>
					</div>
					<div class="mtnops-system">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/products/keephammering-system@2x.png?v=1573595632">
						<h3>Keep Hammering System</h3>
						<a href="https://mtnops.com/products/keep-hammering-system" class="buy-now-btn" target="_blank">Buy Now</a>
					</div>
					<div class="mtnops-system">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/products/EvaComboBottle-1200@2x.png?v=1557719683">
						<h3>Eva Shockey System</h3>
						<a href="https://mtnops.com/products/eva-shockey-system" class="buy-now-btn" target="_blank">Buy Now</a>
					</div>
					
				</div>{% endcomment %}


			</div>
		</div>
	</section>

	<section id="meal-plans" class="meal-plans-section cf-part-section black-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<header>
						<h2>Meal Plans</h2>
						<p>Diet is everything and our meal plans are one of the most important tools to help you reach your health goals. Use our free calorie calculator to find the right meal plan for you, or if you know what you're looking for, select your meal plan and get started today.</p>
					</header>
				</div>
				<div class="col-xs-12 col-sm-6">
					<ul class="meal-plans-list"></ul>
				</div>
			</div>
		</div>
	</section>

	<section class="challenge-section cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/cf-challenge-logo-dark.svg?v=1609479255">
						<p>The Conquer Fitness Challenge is your chance to commit to reaching your goals, a shot at winning $30K in Product and entering to win an all expenses paid cruise for two if you have the greatest health transformation of 2020. Join us today!</p>
						<div>
							<a href="//mtnops.com/challenge" class="mtnops-btn">JOIN NOW</a>
						</div>
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/rankadvancement.png?v=1576792575">

					</header>
				</div>
			</div>
		</div>
	</section>

	{% include 'mtnops-conquer-fb-community' %}

</div> <!-- END main-page-wrapper -->

	{{ 'meal-plans.js' | asset_url | script_tag }}
	<script type="text/javascript">

		$('.calorie-calculator-wrap').iziModal( {
			padding: 25,
			overlayColor: 'rgba(0, 0, 0, 0.9)',
			width: 500,
			closeButton: true,
			autoOpen: false
		});

		$('.prompt-calc').on('click', function(e) {
			e.preventDefault();
			$('.calorie-calculator-wrap').iziModal('open');
		});

		$('.trigger-tooltip').on('click', function(e) {
			e.preventDefault();
			$('.strain-tooltip').slideToggle();
		});

		mealsCount = 0;
		for (i = 0; i < mealPlans.length; i++) {
			if(mealPlans[i].title) {
				var output = '<li><a class="meal-plan" href="'+mealPlans[i].url+'" target="_blank"><div class="meal-meta"><h5>'+mealPlans[i].title+'</h5><span>'+mealPlans[i].min+'lbs - '+mealPlans[i].max+'lbs</span></div></a></li>';
				
				document.querySelector('.meal-plans-list').innerHTML += output;
				mealsCount++;
			}
		}
		
		var form = document.getElementById("calorie-calculator");

		var inputs = form.elements;
		var fname = inputs.first_name;
		var lname = inputs.last_name;
		var email = inputs.email;
		var gender = inputs.gender;
		var age = inputs.age;
		var height = inputs.height;
		var weight = inputs.weight;
		var goal_weight = inputs.goal_weight;
		var fitness_goal = inputs.fitness_goal;
		var recommendedCalories = inputs.recommended_calories;
		var mealPlan = inputs.recommended_meal_plan;
		var strain = inputs.strain;
		var consent = inputs.consent;
		var strain_num = 0;
		var result = 0;
		var firstName = $('.user-first-name');
		var lastName = $('.user-last-name');
		var userEmail = $('.user-email');
		var userGender = $('.user-gender');
		var userAge = $('.user-age');
		var userHeight = $('.user-height');
		var userWeight = $('.user-weight');
		var userGoal = $('.user-goal-weight');
		var userStrain = $('.user-job-strain');
		var userConsent = $('.user-consent');
		var recommendations = {};

		form.addEventListener('submit', function(e) {
			//e.preventDefault();

			// if(validate()) {
			// 	calorieCalculator();
			// }
			if(validate()) {
				calorieCalculator();
			} else {
				e.preventDefault();
			}
		});

		$('#calorie-calculator input').on('input', function() {
			$(this).next('.input-error').remove();
		});
		$('#calorie-calculator input[type="radio"]').change( function(e) {
			$('.user-gender .input-error').remove();
		});
		$('#calorie-calculator select').change( function(e) {
			$('.user-job-strain .input-error').remove();
		});
		$('#calorie-calculator input#consent').change( function(e) {
			$('.user-consent .input-error').remove();
		});

		function validate() {
			if(fname.value == "") {
	        	if(!$('.user-first-name .input-error').length) {
	        		firstName.append('<p class="input-error">Please provide your first name.</p>');
	        	}
	        }
	        if(lname.value == "") {
	        	if(!$('.user-last-name .input-error').length) {
	        		lastName.append('<p class="input-error">Please provide your last name.</p>');
	        	}
	        }
			if(email.value == "") {
				if(!$('.user-email .input-error').length) {
	        		userEmail.append('<p class="input-error">Please provide your email.</p>');
	        	}
	        }
			if(gender.value == "") {
				if(!$('.user-gender .input-error').length) {
	        		userGender.append('<p class="input-error">Please provide your gender.</p>');
	        	}
	        }
			if( age.value == "" ) {
				if(!$('.user-age .input-error').length) {
	        		userAge.append('<p class="input-error">Please provide your age.</p>');
	        	}
	        }
	        if( height.value == "" ) {
	        	if(!$('.user-height .input-error').length) {
	        		userHeight.append('<p class="input-error">Please provide your height in inches.</p>');
	        	}
	        }
	        if( weight.value == "" ) {
	        	if(!$('.user-weight .input-error').length) {
	        		userWeight.append('<p class="input-error">Please provide your weight in lbs.</p>');
	        	}
	        }
	        if( goal_weight.value == "" ) {
	        	if(!$('.user-goal-weight .input-error').length) {
	        		userGoal.append('<p class="input-error">Please provide your goal weight.</p>');
	        	}
	        }
	        if( strain.value == "Select Strain") {
	        	if(!$('.user-job-strain .input-error').length) {
	        		userStrain.append('<p class="input-error">Please provide your job strain.</p>');
	        	}
	        }
	        if( consent.checked == false) {
	        	if(!$('.user-consent .input-error').length) {
	        		userConsent.append('<p class="input-error">Please agree to recieving our emails.</p>');
	        	}
	        }

	        if(weight.value > goal_weight.value) {
	        	fitness_goal.value = 'Weight Loss';
	        } else {
	        	fitness_goal.value = 'Gain Strength';
	        }

	        if($('.input-error').length == 0) {
	        	return true;	
	        }
		}
		function strainCheck() {
			if(strain.value == "light" && gender.value == "male") {
				strain_num = 1.15;
			} else if(strain.value == "moderate" && gender.value == "male") {
				strain_num = 1.25;
			} else if(strain.value == "heavy" && gender.value == "male") {
				strain_num = 1.4;
			} else if(strain.value == "light" && gender.value == "female") {
				strain_num = 1.2;
			} else if(strain.value == "moderate" && gender.value == "female") {
				strain_num = 1.3;
			} else if(strain.value == "heavy" && gender.value == "female") {
				strain_num = 1.45;
			}
		}
		function calorieCalculator() {
			strainCheck();
			//var result = document.querySelector('.calc-result');
			if(gender.value == "male") {
				calories = Math.round((88.362+((13.397*(weight.value/2.2046))+(4.799*(height.value*2.54))-(5.677*age.value)))*strain_num) - 750;
				//result.innerHTML = calories;
			} else {
				calories = Math.round((447.593+((9.247*(weight.value/2.2046))+(3.098*(height.value*2.54))-(4.330*age.value)))*strain_num) - 500;
				//result.innerHTML = calories;
			}
	        recommendedCalories.value = calories;

	        if (recommendedCalories.value > 0 && recommendedCalories.value < 1300) {
	        	var recommendedMealPlan = 1200;
	        } else if (recommendedCalories.value >= 1300 && recommendedCalories.value < 1500 ) {
	        	var recommendedMealPlan = 1400;
	        } else if (recommendedCalories.value >= 1500 && recommendedCalories.value < 1700 ) {
	        	var recommendedMealPlan = 1600;
	        } else if (recommendedCalories.value >= 1650 && recommendedCalories.value < 1900 ) {
	        	var recommendedMealPlan = 1800;
	        } else if (recommendedCalories.value >= 1900 && recommendedCalories.value < 2300 ) {
	        	var recommendedMealPlan = 2100;
	        } else if (recommendedCalories.value >= 2300 ) {
	        	var recommendedMealPlan = 2500;
	        }
	        mealPlan.value = recommendedMealPlan;
		}
		function successMessage() {
			//var formWrap = $('.calorie-calculator-wrap');
			// form.style.display = "none";
			// document.querySelector('.calorie-calculator-wrap h3').style.display = "none";
			// var message = document.createElement('p');
			// message.innerHTML = "Form has been successfully sent";
			// document.querySelector('.calorie-calculator-wrap').appendChild(message);
			if(fitness_goal.value == "Weight Loss") {
				recommendations = {
					title: 'Weight Loss System',
					src: 'https://cdn.shopify.com/s/files/1/2786/4584/products/ConquerWeightLossCombo-BottlewSplash-1200_1080x.png?v=1566235411',
					link: 'https://mtnops.com/products/weight-loss-system'
				};
			} else {
				recommendations = {
					title: 'Strength System',
					src: 'https://cdn.shopify.com/s/files/1/2786/4584/products/ConquerStrengthCombo-SplashwBottle-1200@2x.png?v=1566334160',
					link: 'https://mtnops.com/products/strength-system'
				};
			}

			//recommendations();

			$('#calorie-calculator, .calorie-calculator-wrap h3, .calorie-calculator-wrap p').hide();
			$('.calorie-calculator-wrap .success-message').prepend('<h3>Thank you ' + fname.value + '!</h3><p>Awesome! We\'ve received your information. Keep an eye out for an email with your recommended meal plan and training programs to help you reach your goals. We are so pumped for you and your journey.<p><div class="recommended-system"><p>Based on your goals, we recommend a <b>'+recommendations.title+'</b> to get you started.</p><img src="'+recommendations.src+'"><h3>'+recommendations.title+'</h3><a href="'+recommendations.link+'" class="buy-now-btn">LEARN MORE</a></div>');

			
		}
		function recommendations() {

			// FITNESS PLAN RECOMMENDATION

			
			// $('.calorie-calculator-wrap .success-message .conquer-fitness-programs').show();
			// $('.calorie-calculator-wrap .success-message ' + recommndedPrograms).show();

			// MEAL PLAN RECOMMENDATION
			// take the goal weight and recommend a meal plan that matches form mealPlans object
			
			
	  //       var meanPlansFilter = mealPlans.filter( function (plan) {
			// 	return plan.calories == recommendedMealPlan;
			// });
			//console.log(filterArrayExample);
			//$('.calorie-calculator-wrap .success-message').append('<a href="'+meanPlansFilter[0].url+'">'+meanPlansFilter[0].title+'</a>');
		}

		$('.overview-items').owlCarousel({
		    loop: false,
		    margin: 20,
		    nav: true,
		    dots: false,
			navText: [''],
			navElement: 'div',
		    mouseDrag: false,
		    stagePadding: 50,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:2
		        },
		        1000:{
		            items:3
		        }
		    }
		});
		$('.mtnops-systems-carousel').owlCarousel({
		    loop: false,
		    margin: 20,
		    nav: true,
		    dots: false,
			navText: [''],
			navElement: 'div',
		    mouseDrag: false,
		    stagePadding: 50,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:2
		        },
		        1000:{
		            items:4
		        }
		    }
		});

		

	</script>
	<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
	<script type="text/javascript">
	  KlaviyoSubscribe.attachToForms('#calorie-calculator', {
			hide_form_on_success: false,
			extra_properties: {
				$source: '$embed',
				$method_type: "Calorie Calculator",
				$method_id: 'embed',
				$consent_version: 'Entered information in free calorie calculator on Conquer Fitness page.'
			},
		    success: function ($form) {
				//console.log('this form was successfully submitted');
				successMessage();
			}
	  });
	</script>





<script type="text/javascript">

	// $('#consultation-prompt').iziModal({
	// 	padding: 30,
	// 	overlayColor: 'rgba(0, 0, 0, 0.9)',
	// 	width: 600,
	// 	closeButton: false,
	// 	autoOpen: false
	// });

	// var scrolled = false;

	// $(window).scroll(function() {
 //    if($(window).scrollTop() > 250 && scrolled == false){
			
	// 		$('#consultation-prompt').iziModal('open');
	// 		scrolled = true;
	// 	}
	// });

	// HERO VIDEO SCRIPTS
  	var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('featured_video', {
            height: '100%',
            width: '100%',
            videoId: 'qQ4Y7BzBqZs', // Youtube video ID #
            playerVars: { 'showinfo': 0, 'controls': 1 },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(event) {
        // bind events
        var playButton = document.querySelector('.watch_intro'); // document.getElementById("play-button"); 

        playButton.addEventListener("click", function(e) {
        		e.preventDefault();
            document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap user_watching";
            player.playVideo();

        });

        var pauseButton = document.querySelector(".close_trigger");
        pauseButton.addEventListener("click", function() {
            document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap";
            player.pauseVideo();

        });


        document.onkeyup = function keyPress(e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap";
                player.pauseVideo();

            }
        }
    }
    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
        //if (event.data == YT.PlayerState.PLAYING && !done) {
        // setTimeout(stopVideo, 6000);
        // done = true;
        //}
        if(event.data === 0){ // video has ended
        	document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap";
        }
    }
    function stopVideo() {
        player.stopVideo();
    }


</script>




