{% include 'mtnops_tag_checker' %}

{% comment %}{% if customer.email == 'jake.shaw@me.com' or customer.email == 'chris@mtnops.com' %}
{% else %}

  <p>{{product.title}} page is coming. Check back soon!</p>
  
{% endif %}{% endcomment %}



<div class="main-page-wrapper">

{% if product.metafields.meta.slim_title != blank %}
  <div class="mtnops-slim-page-title"><h1>{{ product.metafields.meta.slim_title }}</h1></div>
{% else %}
  <div class="mtnops-slim-page-title"><h1>ALL-NEW {{ product.title }}!</h1></div>
{% endif %}


  <header class="product-header">
    <div class="product-header-inner">
      <div class="product-featured-image">
        <img class="display-on-mobile-only" src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-best-ever.svg?v=1621370351">
        <img class="featured_image" src="{{ product.featured_image.src | img_url: 'master' }}">
      </div>

      <div class="product-intro">
        <img class="display-on-desktop-only" src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-best-ever.svg?v=1621370351">
        <p>Super people deserve super nutrients - MTN OPS SUPER GREENS Stick Packs provides a unique blend of organic greens to deliver on-the-go natural energy, improve skin health and strengthen your immune resistance, all while boosting metabolism and improving overall digestion and gut health. SUPER GREENS™ employs chlorophyll rich greens that are harvested young and then quickly preserved to deliver optimal nutrition and quality. SUPER GREENS™ mixes perfect with cold water or your favorite protein smoothie for a well rounded and extremely nutritious meal.</p>
        <div>
          {% if isTagged %}
            <div class="special-pricing">
              <span id="product-price">{{ product.variants[0].price | times: discountPercentage | round: 2 | money }}</span> <del id="old-product-price">{{product.variants[0].price | money }}</del>
            </div>
          {% else %}
            <span class="product-price">{{product.variants[0].price | money}}</span>
          {% endif %}

          {% if product.available %}
            <a class="ajax_add_to_cart add-to-cart-cta add-greens" href="#" data-pid="{{ product.variants[0].id }}">Add to Cart</a>
          {% else %}
            <p class="coming-soon"><b>{{product.title}} IS CURRENTLY OUT OF STOCK</b></p>
          {% endif %}
        </div>
      </div>
      
    </div>
  </header>

  <div class="product-section">
    <header>
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/super-greens-benefits.svg?v=1621370351">
    </header>
    <div class="product-benefits-wrap">
      <ul>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-benefits-1.svg?v=1621374109">
          <p>Our SUPER GREENS provide non-stimulated energy by fueling your body with essential minerals.</p>
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-benefits-2.svg?v=1621374109">
          <p>Our chlorophyll-rich raw and organic super greens blend help increase your bodies natural metabolism and cellular energy production.</p>
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-benefits-3.svg?v=1621374109">
          <p>Our SUPER GREENS are packed with vitamins and minerals to help improve your immune system from the inside out.</p>
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-benefits-4.svg?v=1621374109">
          <p>Packed with natural enzymes, our SUPER GREENS improve the digestion process and enhances nutrient absorption.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="video-section">
    <video poster="https://cdn.shopify.com/s/files/1/2786/4584/files/super-greens-bg.jpg?v=1621376975" class="vid_trailer" playsinline autoplay muted loop>
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/supergreens-bg-vid.mp4?v=1621376791" type="video/mp4">
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/supergreens-bg-vid.webm?v=1621376791" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/2786/4584/files/supergreens-bg-vid.ogv?v=1621376791" type="video/ogv">
    </video>
    {% comment %}<div class="section-overlay">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-mean-go.svg?v=1621370351">
    </div>{% endcomment %}
  </div>
  <div class="gallery-section">
    <div class="owl-carousel owl-theme" id="product-gallery">
      
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-1.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-2.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-3.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-4.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-5.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-6.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-7.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-8.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-9.jpg?v=1621378108">
      </div>
      <div class="item text-center">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/greens-gallery-10.jpg?v=1621378108">
      </div>

    </div>
  </div>

  <div class="container-fluid">
     <div class="row">
        <div class="site-content col-sm-12" role="main">
          {%- include 'product_page_area' -%}
          {% comment %}<h1>{{ product.title }}</h1>{% endcomment %}

          {% comment %}<div class="product-heading">
            {% if product.metafields.meta.product_intro != blank %}
              <img src="{{ product.metafields.meta.product_intro }}">
            {% endif %}
            <p>{{ product.metafields.meta.description_excerpt }}</p>
          </div>{% endcomment %}

        </div> <!-- .site-content -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <!-- end container -->

{% comment %}  <div class="product-variations-wrap">
  {% for v in product.variants %}
    
      <div class="outer-product-section product-{{ v.title | handleize }}">
        {% if v.metafields.meta.lifestyle != blank %}
          <div class="lifestyle-section">
            <img src="{{ v.metafields.meta.lifestyle }}">
          </div>
        {% endif %}
        <div id="buy-{{ v.title | handleize }}" class="product-section{% if v.metafields.meta.section_color == 'light' %} section-light{% endif %}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="product-inner-wrap">
                  <div class="featured-image-wrap">
                    <img class="product-featured" src="{{ v.image.src | img_url: 'master' }}">
                  </div>
                  <div class="product-meta-wrap">
                    {% if v.title == "IGNITE" %}
                      {% if v.metafields.meta.section_color == 'light' %}
                        {% assign igniteurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/IGNITE-ProductHighlight-White-Web.svg?v=1617556293' %}
                      {% else %}
                        {% assign igniteurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/IGNITE-ProductHighlight-Grey-Web.svg?v=1617556293' %}
                      {% endif %}
                      
                      <img class="product-benefits" src="{{igniteurl}}">
                    {% elsif v.title == "YETI" %}
                      {% if v.metafields.meta.section_color == 'light' %}
                        {% assign yetiurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/YETI-ProductHighlight-White-Web.svg?v=1617556294' %}
                      {% else %}
                        {% assign yetiurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/YETI-ProductHighlight-Grey-Web.svg?v=1617556293' %}
                      {% endif %}
                      <img class="product-benefits" src="{{yetiurl}}">
                    {% elsif v.title == "ENDURO" %}
                      {% if v.metafields.meta.section_color == 'light' %}
                        {% assign endurourl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/ENDURO-ProductHighlight-White-Web.svg?v=1617556293' %}
                      {% else %}
                        {% assign endurourl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/ENDURO-ProductHighlight-Grey-Web.svg?v=1617556293' %}
                      {% endif %}
                      <img class="product-benefits" src="{{endurourl}}">
                      
                    {% endif %}
                    <div>
                      {% if isTagged %}
                        <div class="special-pricing">
                          <span id="product-price">{{ v.price | times: discountPercentage | round: 2 | money }}</span> <del id="old-product-price">{{v.price | money }}</del>
                        </div>
                      {% else %}
                        <span class="product-price">{{v.price | money}}</span>
                      {% endif %}
                      {% if v.available %}
                      <a class="ajax_add_to_cart add_to_cart_button add-to-cart-cta" href="#" data-pid="{{ v.id }}">Add to Cart</a>
                      {% else %}
                      <p class="coming-soon"><b>{{v.title}} IS CURRENTLY OUT OF STOCK</b></p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
  {% endfor %}
  </div>{% endcomment %}


  {% comment %}<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>{% endcomment %}

  {% comment %}<div class="extra-entries-wrap">
    <div class="container">
      <div class="col-xs-12">
        <div class="bonus-entry-wrap">
          <h3>PICK UP AN ENTRY!</h3>
          <h4>FILL OUT THE FORM BELOW AND SIGN UP FOR OUR EMAILS</h4>
          <div style="margin:0 auto;" class="pxFormGenerator" id="4FAmtAOPNCl-I9XhnIxYTQ"></div>
        </div>
      </div>
    </div>
  </div>{% endcomment %}
</div><!-- .main-page-wrapper -->

<script type="text/javascript">
  $(document).ready(function(){
    $("#product-gallery").owlCarousel({
      loop: true,
      nav: false,
      dots: false,
      stagePadding: 5,
      margin: 5,
      autoplay: true,
      autoplayTimeout: 4000,
      responsive: {
        0: {
          items: 1
        },
        900: {
          items: 3
        },
      }
    });
  }); 

</script>

{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
<script type="text/javascript">
  gsap.fromTo('.floating-fruit', 4, {scale: 1, rotation: -5}, {scale: 1.12, rotation: 5, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  gsap.fromTo('.product-intro-image', 2, {scale: 1}, {scale: 1.04, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  gsap.fromTo('.product-featured', 2.5, {scale: 1}, {scale: 1.02, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
</script>
{% endcomment %}





