{% include 'mtnops_tag_checker' %}


<div class="main-page-wrapper">


{% if product.metafields.meta.slim_title != blank %}
  <div class="mtnops-slim-page-title"><h1>{{ product.metafields.meta.slim_title }}</h1></div>
{% else %}
  <div class="mtnops-slim-page-title"><h1>{{ product.title }} - LIMITED EDITION FLAVOR!</h1></div>
{% endif %}

  {% comment %}<img class="floating-fruit fruit-one" src="https://cdn.shopify.com/s/files/1/2786/4584/files/pineapple-slice.png?v=1590688818">
  <img class="floating-fruit fruit-two" src="https://cdn.shopify.com/s/files/1/2786/4584/files/pineapple-full.png?v=1590688819">
  <img class="floating-fruit fruit-three" src="https://cdn.shopify.com/s/files/1/2786/4584/files/coconut.png?v=1590688818">{% endcomment %}

  <section class="product-header-section">
    <div class="container-fluid">
       <div class="row">
          <div class="site-content col-sm-12" role="main">
            {% comment %}{%- include 'product_page_area' -%}{% endcomment %}
            <header>
              <img class="product-intro-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/tiki-island-punch.svg?v=1625463634">
              <p><b>ALL-NEW TIKI ISLAND PUNCH IS HERE!</b> We are bringing the taste of the islands to your backyard. Add some frozen pineapple to your favorite mixer and blend to perfection with this tropical coconut flavor. It's as close to an island staycation you can get, so better scoop it up while they are in stock!</p>
              <img class="product-lineup-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/TikiIslandPunch-TrifectaSplash.png?v=1625178896">
            </header>
          </div> <!-- .site-content -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <section class="lifestyle-section">
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/Tiki-Guava-Lifestyle-2-LR.jpg?v=1625179147">
  </section>

  <section class="products-wrap">
    <div class="product-variations-wrap">
      {% for v in product.variants %}
        
          <div>
            <div class="featured-image-wrap">
              <img class="product-featured" src="{{ v.image.src | img_url: '1000x1000' }}">
            </div>
            <div class="product-meta-wrap">
              {% if v.id == 39463292370986 %}
                <img class="product-benefits" src="https://cdn.shopify.com/s/files/1/2786/4584/files/ignite-pina-colada-callouts.svg?v=1590688818">
              {% elsif v.id == 39463292403754 %}
                <img class="product-benefits" src="https://cdn.shopify.com/s/files/1/2786/4584/files/yeti-callout.png?v=1585763250">
              {% elsif v.id == 39463292436522 %}
                <img class="product-benefits" src="https://cdn.shopify.com/s/files/1/2786/4584/files/enduro-pina-colada-callouts-v2.svg?v=1594071948">
              {% endif %}
              <div>
                <span class="product-price">{{v.price | money}}</span>
                {% if v.available %}
                  <a class="ajax_add_to_cart add_to_cart_button add-to-cart-btn" href="#" data-pid="{{ v.id }}">Add to Cart</a>
                {% else %}
                  <p>Bummer. This is currently out of stock. Check back soon!</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% if v.metafields.meta.lifestyle != blank %}
            <section class="lifestyle-section full-width">
              <img src="{{ v.metafields.meta.lifestyle }}">
            </section>
          {% endif %}

      {% endfor %}
      </div>
  </section>

  
  
</div><!-- .main-page-wrapper -->


{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
<script type="text/javascript">
  //gsap.fromTo('.floating-fruit', 4, {scale: 1, rotation: -5}, {scale: 1.12, rotation: 5, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  gsap.fromTo('.product-intro-image', 2, {scale: 1}, {scale: 1.04, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  gsap.fromTo('.product-featured', 2.5, {scale: 1}, {scale: 1.02, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
</script>{% endcomment %}


