{% render 'shogun-products', content: product %}
{% include 'mtnops_tag_checker' %}

{% include 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
{%- comment -%}
  Teathemes https://teathemes.net/forums/
{%- endcomment -%}
{%- case settings.design_products -%}
   {%- when '1' -%}
      {%- assign design_products_page = "product-design-default" -%}
   {%- when '2' -%}
      {%- assign design_products_page = "product-design-alt" -%}
   {%- when '3' -%}
      {%- assign design_products_page = "product-design-sticky" -%}
   {%- when '4' -%}
      {%- assign design_products_page = "product-design-compact" -%}
   {%- endcase -%}

{% if customer.email == "jake.shaw@me.com" %}

{% comment %}{% if isTagged %}
  Hey jake, your tag is {{customerTag}}
{% else %}
Hey jake boooooo
{% endif %}{% endcomment %}

{% comment %}<div id="promo-cart-popup" class="iziModal custom-modal promo-cart-popup">
    <a data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></a>
    <h3><span>HERE'S YOUR</span><br>FREE FROTHER ON US</h3>
      <p>Your cart qualifies for a FREE FROTHER for buying Slumber!</p>
      <img class="promo-item-image" src="https://cdn.shopify.com/s/files/1/2786/4584/products/MTNOPS-Drink-Frother-Angle-Web.png?v=1576004452">

      <a class="add-promo-item-to-cart mtnops-btn" data-product-id="" href="#">ADD TO CART</a>

      <div>
        <small><a href="#" class="no-thanks" data-izimodal-close="">No Thanks</a></small>
    </div>
  </div>
  
  <script type="text/javascript">
    $('#promo-cart-popup').iziModal( {
        padding: 25,
        overlayColor: 'rgba(0, 0, 0, 0.8)',
        width: 500,
        closeButton: true,
        autoOpen: false
      }); 

      // $('.open-tee-modal').on('click', function(e) {
      //   e.preventDefault();
      //   $('#choose-insider-tee-size').iziModal('open');  
      // });
      $('#promo-cart-popup').iziModal('open');  
  </script>{% endcomment %}


{% endif %}

<div class="main-page-wrapper">
    <!-- MAIN CONTENT AREA -->
      <div class="container-fluid">
         <div class="row">
            <div class="site-content col-sm-12" role="main">
              {%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
              {%- include 'product_page_area' -%}
            </div><!-- .site-content -->
            <div class="clearfix"></div>
            {%- if settings.show_related_products or settings.show_recently_products or product.metafields.meta.hashtag != blank -%}
            <div class="container related-and-upsells">
              {%- if settings.show_related_products -%}
                  {%- if settings.related_image_size != blank -%}{%- assign crop_nt = settings.related_image_size -%}{%- endif -%}
                  {%- assign loop_countdown = settings.loop_related_countdown -%}
                  {%- case settings.related_products_use -%}
                     {%- when 'use_collection' -%}
                        {%- include 'related-products-sectioned' -%}
                     {%- when 'handle' -%}
                        {%- include 'related-products-by-handle' -%}
                     {%- else -%}
                         {%- include 'related-products-by-tags' -%}
                  {%- endcase -%}
              {%-endif-%}
              {%- if settings.show_recently_products and pages['recently-viewed-products'].empty? != true -%}{%- include 'gl-recently-viewed' -%}{%-endif-%}
              {%- if product.metafields.meta.hashtag != blank and product.metafields.meta.hashtag contains '#' -%}
              <div class="basel-product-instagram">
                <p class="product-instagram-intro">{{ 'products.product.instagram_intro_html' | t: has_tag: product.metafields.meta.hashtag }}</p>
                <div id="carousel-{{product.id}}" class="instagram-widget instagram-per-row-4"><ul class="instagram-pics"></ul></div>
              </div>
              {%- elsif product.metafields.meta.username != blank -%}
              <div class="basel-product-instagram">
                <p class="product-instagram-intro">{{ 'products.product.instagram_intro_html' | t: has_tag: product.metafields.meta.username }}</p>
                <div id="carousel-{{product.id}}" class="instagram-widget instagram-per-row-4"><ul class="instagram-pics"></ul></div>
              </div>
              {%- endif -%}
            </div>
            {%-endif-%}
         </div><!-- end row -->
      </div><!-- end container -->
      <!-- end container -->
</div><!-- .main-page-wrapper -->


{{product.metafields.shogun.below}}


<script>
  (function(e,x,p) {
    e.EV = e.EV || {};
    e.EV.recoSettings = {
      apiKey: '51c88bc6de0a624bfda747b41607e0d4',
      productCode: '{{product.id}}',
      target: '#expertvoice-recommendations',
      headerBackgroundColor: 'rgb(255, 81, 0)',
    };

  var s = x.createElement('script');
    s.src = p;
    s.async = true;

  var h = x.getElementsByTagName('head')[0];
    h.appendChild(s);
  })(window, document,
'//cdn.expertvoice.com/widget/js/recommendations/v1/plugin.js');
</script>
