{% include 'mtnops_tag_checker' %}

{% comment %}{% if customer.email == 'jake.shaw@me.com' or customer.email == 'chris@mtnops.com' %}
{% else %}
  <p>{{product.title}} page is coming. Check back soon!</p>
{% endif %}
{% endcomment %}

{% if product.metafields.meta.slim_title != blank %}
  <div class="mtnops-slim-page-title"><h1>{{ product.metafields.meta.slim_title }}</h1></div>
{% else %}
  <div class="mtnops-slim-page-title"><h1>ALL-NEW {{ product.title }}!</h1></div>
{% endif %}
<div class="main-page-wrapper">
  <!-- MAIN CONTENT AREA -->

  {% if product.metafields.meta.product_image != blank %}
    <header class="product-header" style="background-image: url('{{ product.metafields.meta.product_image }}');">
      <div class="product-header-inner">
        {% if product.metafields.meta.product_logo != blank %}
          <img src="{{ product.metafields.meta.product_logo }}">
        {% endif %}
      </div>
    </header>
  {% else %}

    {% if product.metafields.meta.product_lineup != blank %}
      <div class="product-lineup">
        <img src="{{ product.metafields.meta.product_lineup }}">
      </div>
    {% elsif product.featured_image != blank %}
      <div class="product-lineup">
        <img src="{{ product.featured_image.src | img_url: 'master' }}">
      </div>
    {% endif %}

  {% endif %}

  <div class="container-fluid">
     <div class="row">
        <div class="site-content col-sm-12" role="main">
          {%- include 'product_page_area' -%}
          {% comment %}<h1>{{ product.title }}</h1>{% endcomment %}

          {% comment %}<div class="product-heading">
            {% if product.metafields.meta.product_intro != blank %}
              <img src="{{ product.metafields.meta.product_intro }}">
            {% endif %}
            <p>{{ product.metafields.meta.description_excerpt }}</p>
          </div>{% endcomment %}

        </div> <!-- .site-content -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <!-- end container -->

  <div class="product-variations-wrap">
  {% for v in product.variants %}
    
      <div class="outer-product-section product-{{ v.title | handleize }}">
        {% if v.metafields.meta.lifestyle != blank %}
          <div class="lifestyle-section">
            <img src="{{ v.metafields.meta.lifestyle }}">
          </div>
        {% endif %}
        <div id="buy-{{ v.title | handleize }}" class="product-section{% if v.metafields.meta.section_color == 'light' %} section-light{% endif %}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="product-inner-wrap">
                  <div class="featured-image-wrap">
                    <img class="product-featured" src="{{ v.image.src | img_url: 'master' }}">
                  </div>
                  <div class="product-meta-wrap">
                    {% if v.title == "IGNITE" %}
                      {% if v.metafields.meta.section_color == 'light' %}
                        {% assign igniteurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/IGNITE-ProductHighlight-White-Web.svg?v=1617556293' %}
                      {% else %}
                        {% assign igniteurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/IGNITE-ProductHighlight-Grey-Web.svg?v=1617556293' %}
                      {% endif %}
                      
                      <img class="product-benefits" src="{{igniteurl}}">
                    {% elsif v.title == "YETI" %}
                      {% if v.metafields.meta.section_color == 'light' %}
                        {% assign yetiurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/YETI-ProductHighlight-White-Web.svg?v=1617556294' %}
                      {% else %}
                        {% assign yetiurl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/YETI-ProductHighlight-Grey-Web.svg?v=1617556293' %}
                      {% endif %}
                      <img class="product-benefits" src="{{yetiurl}}">
                    {% elsif v.title == "ENDURO" %}
                      {% if v.metafields.meta.section_color == 'light' %}
                        {% assign endurourl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/ENDURO-ProductHighlight-White-Web.svg?v=1617556293' %}
                      {% else %}
                        {% assign endurourl = 'https://cdn.shopify.com/s/files/1/2786/4584/files/ENDURO-ProductHighlight-Grey-Web.svg?v=1617556293' %}
                      {% endif %}
                      <img class="product-benefits" src="{{endurourl}}">
                      
                    {% endif %}
                    <div>
                      {% if isTagged %}
                        <div class="special-pricing">
                          <span id="product-price">{{ v.price | times: discountPercentage | round: 2 | money }}</span> <del id="old-product-price">{{v.price | money }}</del>
                        </div>
                      {% else %}
                        <span class="product-price">{{v.price | money}}</span>
                      {% endif %}
                      {% if v.available %}
                      <a class="ajax_add_to_cart add_to_cart_button add-to-cart-cta" href="#" data-pid="{{ v.id }}">Add to Cart</a>
                      {% else %}
                      <p class="coming-soon"><b>{{v.title}} IS CURRENTLY OUT OF STOCK</b></p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
  {% endfor %}
  </div>


  {% comment %}<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>{% endcomment %}

  {% comment %}<div class="extra-entries-wrap">
    <div class="container">
      <div class="col-xs-12">
        <div class="bonus-entry-wrap">
          <h3>PICK UP AN ENTRY!</h3>
          <h4>FILL OUT THE FORM BELOW AND SIGN UP FOR OUR EMAILS</h4>
          <div style="margin:0 auto;" class="pxFormGenerator" id="4FAmtAOPNCl-I9XhnIxYTQ"></div>
        </div>
      </div>
    </div>
  </div>{% endcomment %}
</div><!-- .main-page-wrapper -->



{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
<script type="text/javascript">
  gsap.fromTo('.floating-fruit', 4, {scale: 1, rotation: -5}, {scale: 1.12, rotation: 5, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  gsap.fromTo('.product-intro-image', 2, {scale: 1}, {scale: 1.04, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
  gsap.fromTo('.product-featured', 2.5, {scale: 1}, {scale: 1.02, transformOrigin:"center center", repeat: -1, yoyo: true, ease: Power1.easeInOut});
</script>
{% endcomment %}




